<div class="tabs-container">
  <div id="tabs">
  	<ul>
  		<li><a href="#hakkinda">Hakkında</a></li>
  		<li><a href="#projeler">Projeler</a></li>
  		<li><a href="#bagis-sayfalari">Bağış Sayfaları</a></li>
  	</ul>

  	<div id="hakkinda" class="clearfix">
      <%= @organization.description %>
    </div> <!-- end of #hakkinda -->

  	<div id="projeler" class="clearfix">

    </div> <!-- end of #projeler -->

    <div id="bagis-sayfalari" class="clearfix">

    </div> <!-- end of #projeler -->


  </div>
</div><!-- .tabs-container -->