<div id="fb-root"></div>

<div class="share-options">
  <ul class="clearfix">

    <li>
      <a
        href="http://twitter.com/share?via=ben_varim"
        class="twitter-share-button"
        data-count="horizontal"
        data-text="Destekliyorum! <%= @organization.name %>:"
        data-url="<% if @support %><%=support_path @support.organization, @support.user, :only_path => false%><% end %>">Tweet</a>
      </li>

    <li style="margin-right: 10px">
      <span class='st_email_hcount' displayText='Email'></span>
    </li>


    <li style="width:60px; margin-right: 10px">
      <g:plusone size="medium" href="<% if @support %><%=support_path @support.organization, @support.user, :only_path => false%><% end %>"></g:plusone>
    </li>


    <% if @show_fb_like_send %>
      <li><fb:like send="true" layout="button_count" width="165" show_faces="false" href="<%=url_for :only_path => false%>#fb"></fb:like></li>
    <% else %>
      <li><a  target="_blank" name="fb_share" type="button_count">Facebook'ta Paylaş</a></li>
    <% end %>

  </ul>
</div>