<div id="fb-root"></div>
<%
url = url_for(:only_path => false) unless defined?(url)
twitter_text = "Benvarım!" unless defined?(twitter_text)
%>

<div class="share-options">
  <ul class="clearfix">

    <li>
      <a
        href="http://twitter.com/share?via=ben_varim"
        class="twitter-share-button"
        data-count="horizontal"
        data-text="<%=twitter_text%>"
        data-url="<%=url%>">Tweet</a>
      </li>

    <li style="margin-right: 10px">
      <span class='st_email_hcount' displayText='Email'></span>
    </li>


    <li style="width:60px; margin-right: 10px">
      <g:plusone size="medium" href="<%=url%>"></g:plusone>
    </li>

    <li><a  target="_blank" name="fb_share" share_url="<%=url%>" type="button_count">Facebook'ta Paylaş</a></li>

  </ul>
</div>