<ul>
  <li>
    <%=link_to "Öne Çıkanlar", all_organizations_path, :class => (!@tag ? 'selected' : '')%>
  </li>
    <% tags = ["Açlık ve Fakirlik", "Çevre", "Din", "Doğal Yaşam", "Eğitim",  "Kadın ve Çocuk", "Sağlık", "Sanat", "Teknoloji" ]%>
  <% tags.each do |t| %>
    <li>
      <%=link_to t,organizations_by_tag_path(t), :class => (@tag == t ? 'selected' : '')%>
    </li>
  <% end %>
</ul>