<div class="widget widget-light widget-kurum" id="list-pages">
  <div class="w-inner clearfix">
    <div class="w-title">Arama Sonuçları <img id="search-loading-icon" style="display:none" src='/images/ajax-loader.gif'></div>
    <div class="w-content search-page">
      <form id="search_form" style="display:none;">
        <input type="text"  name="k" id="search_query" value="<%=@keyword%>">
      </form>

      <div id="facet_renderer" class="search-div">
      </div>
      <div id="search_renderer" class="search-div rows-container">
      </div>

    </div>
    <a href="http://indextank.com/?utm_campaign=poweredby" name="Powered-by Indextank" rel="friend"><img src="http://indextank.com/_static/images/poweredby/idt-badge-md.png" alt="IndexTank: hosted search you control"/></a>
  </div>
</div>

<% captured = capture do %>
<script type="text/javascript">
$(document).ready(function(){
    $("#search_form").bvSearchAutocomplete({
      renderer : $("#search_renderer"),
      format : function(item) {
        var tmpl = "<div class='row clearfix'><div class='row-photo clearfix'><a href='/ara/d/" + item.docid + "'><img src='" + item.logo+ "'></a></div><div class='row-details'><h3><a href='/ara/d/" + item.docid + "'>" + item.human_readable_name + "</a></h3><p>"+item.description+"</p></div></div>";
        return $(tmpl);
      },
      facetRenderer : $("#facet_renderer"),
      facetFormat : function(facet) {

      },
      loadingIcon : $("#search-loading-icon")


    });
});
</script>
<% end %>
<%render_at_the_end captured%>
