<div class="widget widget-light widget-kurum" id="list-pages">
  <div class="w-inner clearfix">
    <div class="w-content search-page">
      <form id="search_form">
        <input type="text"  name="k" id="search_query" value="<%=@keyword%>">
      </form>
      <hr/>

      <div id="facet_renderer" class="search-div">
      </div>
      <div id="search_renderer" class="search-div rows-container">
      </div>

    </div>
  </div>
</div>
<style>
.search-page .search-div {
  float:left;
  padding: 20px;
}
</style>
<% if @results %>
<%=debug @results%>

<% end %>

<% captured = capture do %>
<script>
$(document).ready(function(){
    $("#search_form").bvSearchAutocomplete({
      renderer : $("#search_renderer"),
      format : function(item) {
        return $.tmpl("<div class='row clearfix'><div class='row-photo clearfix'><a href='/ara/d/${docid}'><img src='${logo}'></a></div><div class='row-details'><h3><a href='/ara/d/${docid}'>${human_readable_name}</a></h3><p>${description}</p></div></div>", item);
      },
      facetRenderer : $("#facet_renderer"),
      facetFormat : function(facet) {

      }


    });
});
</script>
<% end %>
<%render_at_the_end captured%>
