<%=render 'menu'%>
<%=render :partial => 'layouts/errors'%>
<div id="main-content">
  <div class="widget widget-light" id="w-iletisim">
    <div class="w-inner">
      <div class="w-title">Impersonate!</div>
        <%=render 'impersonate_form'%>
    </div>
  </div>
</div>
<style>
#info_table td {
  padding:5px;
}
</style>
<%= render 'layouts/sidebar'%>