<div id="main-content">
  <div class="widget widget-light">
    <div class="w-inner">
      <div class="w-title">Kişisel Bilgileri Düzenle</div>

        <%= render 'form' %>

        <%= link_to 'Show', @user %>

     </div>
    </div> 
</div><!-- end of #main-content -->

<%= render 'layouts/sidebar'%>

