<div class="widget widget-light widget-kurum ">
  <div class="w-inner clearfix">
    <div class="w-content">
      <div class="fullcontent-left">
        <img src="/images/levent.png">
        
      </div>
      <div class="fullcontent-right">
        <div class="comment-bubble rc">
          <p>Selden zarar gören Nesin Vakfı yardımlarınızı bekliyor. Harekete geçmenin tam zamanı!</p>
          <h6>Levent Bas</h6>
          
          <div class="share-options"> 
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Twitter'da Paylaş" data-count="horizontal">Tweet</a><script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
          </div>
        </div><!-- .comment-bubble -->
        
        <div class="size1of2-bar"></div>
        <a href="#" class="yellow button super no-margin">Bağış Yap</a>
        
        
        <p>Nesin Vakfı 1973'te Aziz Nesin tarafından kurulmuştur. Nesin Vakfı'nın amacı, <i>eğitim</i> olanaklarından yoksun çocukların, tükettiğinden çok üreten, toplumsal sorumluluğu olan, özgüvenli ve özverili, kendini sürekli geliştiren, kendine ve dünyaya eleştirel gözle bakan, topluma yararlı bireyler olarak yetişmelerini sağlamaktır. </p>
        
         
      </div>
    </div>
  </div>
</div><!-- end of .widget -->

<div id="main-content">

  <div class="widget widget-light widget-aktif-bagis ">
    <div class="w-inner clearfix">
      <div class="w-title">Bağışçı Listesi</div>
      <div class="w-content">
        
        
        <div class="row">
            <h2><a href="#">23 Nisan Çocuk Şenliği</a></h2>
            <a href="#" class="yellow button right no-margin">Destekle</a>
            <p>2002'den itibaren 23 Nisan şenlikleri düzenlemeye başladık. Gerçek çocuk şenlikleri! Okay Temiz eşliğinde davul dersleri, dans, satranç, resim, surat boyama... Bayram gibi bayram yani! <a href="#">Detaylı bilgi</a></p>
        </div><!-- end of .row -->
        
        
        <div class="row">
          <h2><a href="#">Temmuz Pikniği - Aziz Nesin'i Anma Günü</a></h2>
          <a href="#" class="yellow button right no-margin">Destekle</a>
          <p>Adının anma günü olduğuna bakmayın, can sıkıcı bir merasim değildir, uzun söylevler olmaz, yas tutmayız biz. O gün de piknik yaparız, eğleniriz. Pikniğinizi alın ve gelin. Temmuzun ilk cumartesi günü, saat 1-2 gibi. Davetiyesizdir. <a href="#">Detaylı bilgi</a></p>
        </div><!-- end of .row -->
        
  
        <div class="row">
            <h2><a href="#">Nesin Matematik Köyü</a></h2>
            <a href="#" class="yellow button right no-margin">Destekle</a>
            <p>Şirince köyünün (İzmir - Selçuk) 1 km uzağında, dağ başında ve mutlak bir ıssızlık içinde, yemyeşil bir ortamda, 7'den 70'e herkesin (her köylünün!) her seviyede matematik yaptığı, öğrendiği, öğrettiği ve düşündüğü, Nesin Vakfı'na ait 30 dönümü zeytinlik olmak üzere toplam 55 dönümlük bir köy. Şatafattan ve gösterişten uzak, sade ve içten. Evler taş, çamur ve samandan. <a href="#">Detaylı bilgi</a></p>
        </div><!-- end of .row -->
        
  
  
  
  
      
      
      </div>
    </div>
  </div>
</div><!-- end of #main-content -->

<%= render 'layouts/sidebar_kurum'%>

  
