<div class="page line clearfix" id="basinda-benvarim">
  <div class="p-nav size1of4">
    <%= render 'home/includes/subnav_nedir'%>
  </div><!-- subnav -->
  <div class="p-content size3of4 lastUnit">
    <div class="p-inner">
      <div class="p-summary">
        <p>BenVarım platformu, medya kitine buradan ulaşabilirsiniz. BenVarım platformu, medya destekçiler etc.</p>
      </div>

      <div class="p-details">
        <%= render 'home/includes/press'%>
      </div>
    </div>
  </div><!-- p-content -->
</div><!-- .page -->


