<div class="widget clearfix" id="widget-dogum-gunu">
  <img src="/images/concepts/birthday.jpg" class="rc"/>
  <h1>İyi ki doğdun!!!</h1>
  <h3>Bu sene doğum gününde bir değişiklik yap ve bağış sayfanı oluştur. Hem sevdiklerini ne alsam derdinden kurtar, hem de inandığın vakıf ve dernekleri destekle. Haydi hemen şimdi bağış sayfanı oluştur!

</div>


<div class="line clearfix">
  <div class="size1of3">
  </div>
  <div class="size1of3">

  </div>
  <div class="size1of3 lastUnit">
    <h3>Öne Çıkan Doğum Günü Sayfaları</h3>
  </div>
</div>


