<div class="page line clearfix" id="guvenli-odeme">
  <div class="p-nav size1of4">
    <%= render 'home/includes/subnav_nasil_calisir'%>
  </div><!-- subnav -->
  <div class="p-content size3of4 lastUnit">
    <div class="p-inner">
      <div class="p-summary">
        <h3>%100 Güvenli Ödeme Sistemi</h3>
        <p>Benvarim.com  kullanıcısı kurumlar, ister bankaların sanal pos cihazları ile, isterlerse PayPal ile kendi hesaplarında bağış toplayabilirler. Bu seçim kendilerine bırakılmıştır. Benvarim.com  üzerinden yapılan tüm bağışlar kurumun hesabına doğrudan giderken,  bağışçıya güvenli ödeme imkanı sağlar. Hem PayPal, hem de banka sanal POS cihazları ile, bağışçılar kredi ve banka kartlarıyla kolayca bağış yapabilirler. Her iki bağış toplama yöntemi de Türkiye Cumhuriyeti yasalarına uygundur.</p>

        <p>Her iki ödeme  biçiminde de, ödeme yapılan kartın bilgileri yüksek teknolojili güvenlik  sistemiyle korunurken, kart bilgilerine ne bağış yapılan kurum, ne de Benvarim.com  erişebilir.</p>

        <p>Benvarim.com hem kurum hesaplarının güvenliği, hem de yapılan bağışların doğru yere ulaşması  için, herhangi bir kurumu sisteme entegre ederken, kurumun yetkili mercilerinin  onayını talep etmekte ve her türlü dolandırıcılık faaliyetine karşı hem  kurumları, hem de bağışçıları korumaktadır.</p>
        <p>Daha fazla bilgi  edinmek için lütfen bizimle iletişime geçiniz: <a href="mailto:iletisim@benvarim.com">iletisim@benvarim.com</a></p>

      </div>

      <div class="p-details">
        <%= render 'home/includes/secure_payments'%>
      </div>
    </div>
  </div><!-- p-content -->
</div><!-- .page -->













