<div class="page line clearfix" id="hakkimizda">
  <div class="p-nav size1of4">
    <%= render 'home/includes/subnav_nedir'%>
  </div><!-- subnav -->
  <div class="p-content size3of4 lastUnit">
    <div class="p-inner">
      <div class="p-summary">
        <h3>Hakkımızda</h3>

        <p>BenVarım, Türkiye'deki sivil toplum kuruluşlarının kaynak yaratma ve tanıtım faaliyetlerini kuvvetlendirmek üzere oluşturulmuş bir sosyal bağış platformudur. Herhangi bir ticari kuruluşa bağlı olmayan platformumuzun her türlü teknik, idari ve tanıtım masraflarını kurucular olarak bu aşamada kendi kaynaklarımızla gönüllü olarak karşılıyoruz ve yararlı bir girişim yaratmanın haklı gururunu taşıyoruz.</p>

        <p>Önceliğimizi sivil toplum kuruluşlarına verdiğimiz katma değerin artmasını sağlamak olarak belirledik. Uzun vadede BenVarım projesinin teknik ve ekonomik olarak sürdürülebilir kılmak için çeşitli alternatifler modeller üzerine çalışıyoruz.</p>

        <p>Hayal ettiğimiz aşamaya gelene uzun bir yolumuz olduğunun bilincindeyiz. Bu sürede sizlerin eleştirileri ve önerilerinize ihtiyacımız olduğu gibi, ekibimizi genişletmeye de ihtiyacımız var. Lütfen bizimle iletişimde kalmaya ve bizi çevrenize duyurmaya devam edin. Ekibimize katılmak için lütfen kariyer bölümüzü ziyaret edin ve bizimle <%=link_to "iletişim", :new_contact_form %> geçin.</p>
      </div>


      <div class="p-details">
        <%= render 'home/includes/founders'%>
        <%= render 'home/includes/volunteers'%>

      </div>
    </div>
  </div><!-- p-content -->
</div><!-- .page -->