<div id="main-content">
  <div class="widget widget-light">
    <div class="w-inner">
      <div class="w-title">Hakkımızda</div>


      <p>BenVarım platformu 2011 yılında San Francisco ve İstanbul’da yaşayan, dört Türk girişimcisi tarafından kurulmuştur. Kurucular, birer aktivist, gönüllü ve sivil toplum yöneticisi olarak emek verdikleri Türkiye’ye verimli bir internet platformu kazandırmak için bir araya geldiler.</p>
      <p>BenVarım platformu, Dünya’da nice örneği olan İnternet’ten bağış toplama (online fundraising) sisteminin Türkiye’deki ilk ve tek örneğidir.</p>
      <p>BenVarım platformu teknolojik altyapı yaratarak, Türkiye’deki tüm sivil toplum kuruluşlarının maddi ve manevi olarak güçlenmesini sağlar.</p>
      <p>Lütfen bizi Twitter (<a href="http://twitter.com/Ben_Varim" target="_blank">@Ben_Varim</a>) ve <a href="http://www.facebook.com/pages/Ben-Varim/135114429880530" target="_blank">Facebook</a>’ta takip edin.
      <p>Soru ve önerileriniz için <a href="/iletisim/yeni">iletişim</a> formumuzu kullanabilirsiniz.</p>







      <div class="profile-details clearfix hidden">
        <div class="profile_pic clearfix">
          <div class="_pm_container">
            <div class="_pm_shadow r"></div>
            <div class="_pm_shadow l"></div>
            <div class="_pm">
              <div class="_pm_inner">
                <img alt="Gerçek Karakuş" class="alt-img" src="/images/about/gercek-karakus.jpeg" width="223" />
                <div class="img_inner_shadow"></div>
                <h3>Gerçek Karakuş</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="profile-details">
        </div>
      </div>






      </div>
    </div>
</div><!-- end of #main-content -->

<%= render 'layouts/sidebar'%>
