<div id="featured-content-2" class="clearfix">
    <div class="fc-left rc-left">
      <div class="fc-inner">
        <div class="steps rc clearfix">
          <div class="step s-first" id="step-1">
            <div class="s-number">1.</div>
            <div class="s-content">Desteklemek istediğiniz vakıf yada derneği seçin ve bağış sayfanızı oluşturun.</div>
          </div>

          <div class="step" id="step-2">
            <div class="s-number">2.</div>
            <div class="s-content">Bağış sayfanızı Facebook, Twitter ve diğer sosyal ağlar üzerinden aileniz ve yakın çevreniz ile paylaşın.</div>
          </div>

          <div class="step" id="step-3">
            <div class="s-number">3.</div>
            <div class="s-content">Topladığınız bağışlar otomatik olarak desteklediğiniz vakıf ya da dernek hesabına aktarılsın.</div>
          </div>
        </div> <!-- end of steps -->

        <div class="campaign-form-container">
          <h2>Bağış sayfası düzenlemek istiyorum.</h2>
          <%=render :partial => "layouts/quickstart_widget",
            :locals => {
              :available_organizations => @available_organizations
            }
          %>
        </div>
      </div><!-- end of .fc-inner -->
    </div>

    <div class="fc-right">
      <div class="profile profile-individual rc-right">
        <div class="fc-inner">
          <h3>Gönüllü olmak istiyorum.</h3>
          <p>benvarım.com’a üye olun, bağış sayfanızı yaratın ve desteklediğiniz vakıf ve dernek için anında bağış toplamaya başlayın.</p>
        </div>
      </div>

      <div class="profile profile-nonprofit opaque rc-right">
        <div class="fc-inner">
          <h3>Yeni Dernek <span class="amp">&amp;</span> Vakıf Kaydı</h3>
          <p>Organizasyonunuz için internet üzerinden bağış toplamak istiyorsanız, lütfen bizimle iletişime geçiniz.</p>
        </div>
      </div>

    </div>



</div><!-- end of #featured-content -->


<div class="widget widget-light clearfix" id="featured-charities">
    <div class="w-inner">
      <div class="w-title">Bağış Yapabileceğiniz Kurumlar</div>
      <a href="#" id="fc-nesin" title="Nesin Vakfı">Nesin Vakfı</a>
      <a href="#" id="fc-ormana" title="Ormana Vakfı">Ormana Vakfı</a>
      <a href="#" id="fc-tema" class="opaque" title="TEMA">TEMA</a>
      <a href="#" id="fc-iksv" class="opaque" title="IKSV">IKSV</a>
      <a href="#" id="fc-tegv" class="opaque" title="TEGV">TEGV</a>
      <div class="more-link"><a href="/kurumlar">Tüm Kurumları Listele &raquo;</a></div>
    </div>
</div>


<div id="main-content">
  <div class="widget widget-light">
    <div class="w-inner">
      <div class="w-title">Aktif Projeler</div>
      main content widget
    </div>
  </div>

  <div class="widget widget-light">
    <div class="w-inner">
      <div class="w-title">En çok bağış toplayan gönüllüler</div>
      main content widget
    </div>
  </div>
</div><!-- end of #main-content -->

<%= render 'layouts/sidebar'%>

<%
=begin
%>

<%
=end
%>



