<div id="featured-content" class="widget widget-dark clearfix">
  <div class="w-inner">
    
    <div class="steps-loading">Yükleniyor...</div>
     
    <div class="steps clearfix">
      <div class="step s-first" id="step-1">
        <div class="s-visual"></div>
        <div class="s-number">1.</div>
        <div class="s-content">Desteklemek istediğiniz vakıf yada derneği seçin ve bağış sayfanızı oluşturun.</div>
      </div>
 
      <div class="step" id="step-2">
        <div class="s-visual"></div>
        <div class="s-number">2.</div>
        <div class="s-content">Bağış sayfanızı aileniz ve yakın çevreniz ile paylaşın, bağışlar toplansın.</div>
      </div>
    
      <div class="step" id="step-3">
        <div class="s-visual"></div>
        <div class="s-number">3.</div>
        <div class="s-content">Topladığınız bağışlar otomatik olarak desteklediğiniz vakıf ya da dernek hesabına aktarılsın.</div>
      </div>
    </div> <!-- end of steps -->
    
    <div class="campaign-form-container">
      <h1>Bağış kampanyası düzenlemek istiyorum.</h1>
      
      <form action="#" method="post">
        <div class="field">
          <input value="Desteklemek istediğiniz vakıf yada derneği seçiniz..." name="search" class="clear-on-focus" id="featured-input">
        </div>
        <input type="submit" value="Başla" name="commit" id="featured-submit" class="button super yellow button-primary no-margin">               
      </form>
      
    </div>
    
    
  </div>
</div><!-- end of #featured-content -->

<div id="main-content">
  <div class="widget widget-light">
    <div class="w-inner">
      <div class="w-title">Aktif Bağış Kampanyaları</div>
      <ol>
        <li>kimin eli</li>
        <li>kimin cebinde</li>2
      </ol>
      main content widget
    </div>
  </div>
</div><!-- end of #main-content -->


<%= render 'layouts/sidebar'%>


 