<div id="main-content">
  <div class="widget widget-light">
    <div class="w-inner">
      <div class="w-title">Kullanım Şartları</div>


      <p class=MsoNormal><i style='mso-bidi-font-style:normal'>Son güncelleme tarihi:
      27 Mart 2011<o:p></o:p></i></p>

      <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>Genel Kullanım
      Ko&#351;ulları<o:p></o:p></b></p>

      <p class=MsoNormal>BENVARIM’a<span style="mso-spacerun: yes">&nbsp;
      </span>kullanıcı olarak ba&#351;vurdu&#287;unuz anda, BENVARIM'ı kullanmak için
      a&#351;a&#287;ıdaki Genel Ticari Ko&#351;ulları kabul etmi&#351; olursunuz
      (a&#351;a&#287;ıda “GTK” olarak adlandırılacaktır).</p>

      <p class=MsoNormal>Bu GTK’lar, kullanıcı ile BENVARIM arasındaki sözle&#351;me
      ili&#351;kisini düzenler.</p>

      <p class=MsoNormal>Kullanıcı, BENVARIM 'in hizmetlerinden yararlanma ile ilgili
      sözle&#351;meyi A.B.D.’nin San Francisco, CA &#351;ehrinde ikamet eden Türkiye
      Cumhuriyeti Vatanda&#351;ı Mustafa L. Ba&#351; ile yapmaktadır. </p>

      <p class=MsoNormal>“BENVARIM”, sözle&#351;meye konu olan hizmeti ve/veya
      BenVarim.com internet platformu ile kurucularını ifade eder. </p>

      <p class=MsoNormal>BENVARIM hizmetleri sadece re&#351;it ki&#351;ilere
      sunulmaktadır.</p>

      <p class=MsoNormal>Kullanıcı bu GTK'nı, sözle&#351;me yapıldıktan sonra da,
      BENVARIM web sayfalarında yer alan ilgili linkleri tıklayarak “GTK”nı
      diledi&#287;i zaman ça&#287;ırabilir, yazdırabilir, indirebilir veya
      kaydedebilir.</p>

      <p class=MsoNormal>BENVARIM ile anla&#351;maya vararak, BENVARIM servisini
      kullanan Türkiye Cumhuriyeti’ne kayıtlı ba&#287;ı&#351; toplamaya yetkili
      vakıflar, dernekler ve sivil toplum kurulu&#351;ları (bundan böyle bu üçü STK
      olarak anılacaktır) </p>

      <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>1. Konu<o:p></o:p></b></p>

      <p class=MsoNormal>1.1 BENVARIM web siteleri kayıtlı kullanıcılara iki kullanım
      alternatifi sunmaktadır: </p>

      <p class=MsoNormal>a) Sadece di&#287;er üyeler tarafından olu&#351;turulan
      ba&#287;ı&#351; sayfaları veya sisteme üye STK’lara ba&#287;ı&#351; yapmaya
      yönelik olan<span style="mso-spacerun: yes">&nbsp; </span>kullanım; (bundan
      sonra<span style="mso-spacerun: yes">&nbsp; </span>“ba&#287;ı&#351;çı üye”
      olarak adlandırılacaktır) ve </p>

      <p class=MsoNormal>b) Bir STK adına ba&#287;ı&#351; sayfası düzenlemeye yönelik
      kullanım<span style="mso-spacerun: yes">&nbsp; </span>(bundan sonra “gönüllü
      üye” olarak adlandırılacaktır). Her iki tip üye de, siteyi kullanmaya
      ba&#351;lamak ile i&#351;bu genel ko&#351;ullarda yer alan beyan ve taahhütleri
      okuyup onayladıklarını ve kabul ettiklerini kabul ederler. Üyeler
      faydalanacakları hizmet türüne uygulanacak özel ko&#351;ulların yanında tüm
      üyeler için geçerli olan genel kullanım ko&#351;ullarını da üye olma
      i&#351;lemini onayladıkları andan itibaren kabul etmi&#351; sayılırlar. </p>

      <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>2. Gönüllü üyelere
      özel hükümler<o:p></o:p></b></p>

      <p class=MsoNormal>2.1 Gönüllü üyenin ba&#287;ı&#351; sayfası yaratmasına
      ili&#351;kin yönergeler site içinde yer almaktadır. Gönüllü, kullanıcı adı ve
      profilini yarattıktan sonra, ba&#287;ı&#351; sayfasını ili&#351;kilendirmek
      istedi&#287;i STK’yı belirleyecek, ardından ba&#287;ı&#351; sayfasını
      düzenleyip internet üzerinden sosyal a&#287;ları ile payla&#351;acaktır.
      Gönüllü üye kampanya ba&#351;latma eylemi ile i&#351;bu GTK’da yer alan tüm
      hükümlere ve BENVARIM tarafından belirlenmi&#351; olan tüm kural ve yönergelere
      uymayı kabul ve taahhüt eder. </p>

      <p class=MsoNormal>2.2 Gönüllü üye adına ba&#351;lataca&#287;ı ve düzenli
      editörlü&#287;ünü yapaca&#287;ı ba&#287;ı&#351; sayfalarını
      ili&#351;kilendirdi&#287;i STK ile ili&#351;kilerinde tamamen BENVARIM’dan
      ba&#287;ımsız olarak hareket etmekte oldu&#287;unu ve ilgili STK ile arasında
      çıkabilecek her türlü sorunu STK ile çözece&#287;ini platformu ortaya
      çıkabilecek her türlü uyu&#351;mazlıktan beri tutaca&#287;ını kabul ve taahhüt
      eder. </p>

      <p class=MsoNormal>2.3 BENVARIM, gönüllü üyeler tarafından hazırlanan
      kampanyalarda yer alan<span style="mso-spacerun: yes">&nbsp; </span>hukuka
      aykırı içerikleri ilgili STK’nın izni ile yayınlanmı&#351; olsa dahi, önceden
      bir bildirimde bulunmaksızın BENVARIM’dan silme veya yayınını durdurma hakkına
      sahiptir.</p>

      <p class=MsoNormal>2.4 Kullanıcı, BENVARIM’ın %100
      eri&#351;ilebilirli&#287;inin teknik açıdan mümkün olmadı&#287;ını kabul eder.
      Ancak BENVARIM, BENVARIM web sitelerini mümkün oldu&#287;unca kesintisiz
      eri&#351;ilebilir tutmak için çaba gösterir. Özellikle periyodik bakım,
      güvenlik ve kapasite sorunları ile BENVARIM 'in etki alanı dı&#351;ındaki
      durumlar (örne&#287;in kamu ileti&#351;im a&#287;larındaki arızalar, elektrik
      kesintileri vb.), BENVARIM web sayfalarında kısa süreli arızalara veya
      hizmetlerin geçici olarak verilememesine neden olabilir.</p>

      <p class=MsoNormal>2.5<span style="mso-spacerun: yes">&nbsp; </span>BENVARIM
      üyeye sadece, kayıtlı STK’lara ba&#287;ı&#351;ta bulunmak ve/veya kayıtlı
      STK’lar için ba&#287;ı&#351; sayfaları hazırlamak için bir platform
      sa&#287;layacak teknik bir uygulama sunmaktadır. BENVARIM, gönüllü üyelerin
      STK’larla ve di&#287;er üyelerle aralarındaki ileti&#351;im içeri&#287;ine
      katılmaz. Üyelerin BENVARIM üzerinden yapacakları i&#351;lemlere<span
      style="mso-spacerun: yes">&nbsp; </span>BENVARIM 'nin katılımı söz konusu
      olmadı&#287;ı gibi, BENVARIM i&#351;lemlerde taraf da olmaz. BENVARIM üzerinden
      kurulacak her türlü ili&#351;kiden kaynaklanan i&#351;lemlerden üyeler bizzat
      kendileri sorumludur. Üyenin portal üzerinden yapaca&#287;ı i&#351;lemlerde
      gerek STK ile, gerekse di&#287;er üyelerle olan ili&#351;kilerinde BENVARIM
      sadece ileti&#351;im aracını sa&#287;lamakta olup bu ili&#351;kilerin
      içeri&#287;ini ve mahiyetini bilmedi&#287;i gibi bilmesi de beklenemez. </p>

      <p class=MsoNormal>2.6 BENVARIM’a üye STK’ların yetkilileri gönüllü üyelerin
      yetkilisi oldukları STK adına ba&#287;ı&#351; sayfası düzenleyip
      düzenleyemeyecekleri, kampanyanın türü ve tarzı, kullanılacak ifade, ibare,
      logo vb. içeri&#287;in belirlenmesi, kampanyanın yayınlanması ve yayından
      kaldırılması ve bunlarla sınırlı olmamak üzere kendi temsil ettikleri STK adına
      düzenlenecek her türlü kampanya ile ilgili tüm i&#351;lemlerde tek ve tam
      yetkilidirler. BENVARIM, STK’lar adına düzenlenen ba&#287;ı&#351; sayfaları
      hususunda hiçbir &#351;ekilde kabul, onay veya denetleme makamı de&#287;ildir,
      sadece gönüllü üye ile STK arasında aracılık yapmaktadır.</p>

      <p class=MsoNormal>2.7 Gönüllü üyeler, portal üzerinden onay alarak
      ba&#351;latmı&#351; oldukları kampanyaların ilgili STK yetkilisinin talebi
      üzerine her zaman ve derhal yayından kaldırılabilece&#287;ini, kampanya tanımı,
      içeri&#287;i ve sayfasında STK temsilcisinin talebi ile de&#287;i&#351;iklik
      yapılabilece&#287;ini kabul ederler. Gönüllü üyeler bu kabulleri do&#287;rultusunda,
      ba&#351;latmı&#351; oldukları kampanyanın sona erdirilmesi veya kampanya
      sayfasında de&#287;i&#351;iklik yapılması durumunda BENVARIM’dan herhangi bir
      tazminat talep etmeyeceklerini i&#351;bu sözle&#351;me ile kabul ve taahhüt
      ederler. Kampanya içeri&#287;inde bir de&#287;i&#351;iklik yapılması talep
      edildi&#287;inde gönüllü üye bu de&#287;i&#351;ikli&#287;i kabul etmeyerek
      ba&#287;ı&#351; sayfasını sonlandırma hakkına sahip olacaktır. Ancak, ilgili
      STK yetkilisinin kampanya ile ilgili talebinin kayıt sırasında bildirmi&#351;
      oldu&#287;u e-posta adresine iletilmesinin ardından en geç 1 i&#351; günü
      içerisinde talep edilen de&#287;i&#351;ikli&#287;in yapılmaması durumunda
      BENVARIM ilgili kampanyaya ili&#351;kin tüm içeri&#287;i portaldan kaldırma
      hakkına sahiptir. Gönüllü üye bu durumda kampanyaya ili&#351;kin içeri&#287;in
      kaldırılması nedeniyle BENVARIM’dan herhangi bir tazminat veya her ne isim
      altında olursa olsun ödeme talep etmeyece&#287;ini kabul ve beyan eder.</p>

      <p class=MsoNormal>2.8 Gönüllü üyeler ba&#351;latmı&#351; oldukları
      ba&#287;ı&#351; sayfalarını istedikleri anda kendilerine tahsis edilmi&#351;
      olan kullanıcı adı ve &#351;ifreyi kullanarak yayından kaldırma hakkına
      sahiptirler. </p>

      <p class=MsoNormal>2.9 Gönüllü üyelerle ilgili STK arasındaki ili&#351;ki
      BENVARIM’dan tamamen ba&#287;ımsız ve sadece tarafları ba&#287;layan bir
      ili&#351;kidir. BENVARIM gönüllü üyenin ilgili STK ile ili&#351;kisinde
      ya&#351;ayabilece&#287;i hiçbir anla&#351;mazlıkta taraf de&#287;ildir.
      BENVARIM, STK ile gönüllü üye arasındaki ili&#351;kide sadece teknik altyapı
      hizmeti sunan aracı konumundadır. </p>

      <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>3. Ba&#287;ı&#351;çı
      üyelere özel hükümler<o:p></o:p></b></p>

      <p class=MsoNormal>3.1 Ba&#287;ı&#351;çı üyenin ba&#287;ı&#351; yapmasına
      ili&#351;kin yönergeler site içerisinde yer almaktadır. Ba&#287;ı&#351;çı üye,
      herhangibir ba&#287;ı&#351; sayfası veya kurum sayfası üzerinden “ba&#287;ı&#351;
      yap” linklerini takip ederek ba&#287;ı&#351;ta bulunabilir. Ba&#287;ı&#351;çı
      üye’nin BENVARIM portali üzerinde kullanıcı adı ve profili yaratma
      zorunlulu&#287;u yoktur. Üye, BENVARIM aracılı&#287;ıyla yapaca&#287;ı
      ba&#287;ı&#351;larda burada belirtilen tüm yönergelere uymayı kabul etmektedir.
      </p>

      <p class=MsoNormal>3.2 Ba&#287;ı&#351;çı üye ba&#287;ı&#351; yapmak için
      kullandı&#287;ı<span style="mso-spacerun: yes">&nbsp; </span>banka hesabının,
      internet hesabının, kredi kartı ve banka kartlarının kendisine ait
      oldu&#287;unu beyan ve taahhüt eder. Hesabı kullanma hakkı olmaması veya tabii
      oldu&#287;u mevzuata aykırı herhangi bir di&#287;er hareketi nedeniyle meydana
      gelecek her türlü do&#287;rudan ve dolaylı zararı kar&#351;ılama
      yükümlülü&#287;ü ba&#287;ı&#351;çı üyeye ait olacaktır. </p>

      <p class=MsoNormal>3.3 Ba&#287;ı&#351;çı üye, ba&#287;ı&#351; yaptı&#287;ı
      STK’yı tamamen kendi insiyatifi do&#287;rultusunda ve BENVARIM’ın herhangi bir
      yönlendirmesi veya etkisi olmadan seçti&#287;ini kabul ve beyan eder. BENVARIM
      bu anlamda STK’ların ba&#287;ı&#351; ve yardım toplamak için kullandıkları bir
      platform olup ba&#287;ı&#351; toplanması konusunda teknik altyapı
      sa&#287;lamaktadır. Bu nedenle, ba&#287;ı&#351;çı üye BENVARIM’da toplanan
      ba&#287;ı&#351; ve yardımların akıbeti ve ba&#287;ı&#351; ve yardım toplayan
      STK’ların nitelikleri de dahil olmak üzere hiçbir konudan sorumlu
      olmadı&#287;ını bildi&#287;ini ve kabul etti&#287;ini ve ileride BENVARIM’dan
      bu konuda herhangi bir talepte bulunmayaca&#287;ını kabul ve taahhüt eder. </p>

      <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>4. Tüm üyelere
      ili&#351;kin genel hükümler<o:p></o:p></b></p>

      <p class=MsoNormal>4.1 Tüm üye ve kullanıcılar, BENVARIM’ın %100
      eri&#351;ilebilirli&#287;inin teknik açıdan mümkün olmadı&#287;ını kabul eder.
      Ancak BENVARIM, BENVARIM web sitelerini mümkün oldu&#287;unca kesintisiz
      eri&#351;ilebilir tutmak için çaba gösterir. Özellikle periyodik bakım,
      güvenlik ve kapasite sorunları ile BENVARIM 'in etki alanı dı&#351;ındaki
      durumlar (örne&#287;in kamu ileti&#351;im a&#287;larındaki arızalar, elektrik
      kesintileri vb.), BENVARIM web sayfalarında kısa süreli arızalara veya
      hizmetlerin geçici olarak verilememesine neden olabilir.</p>

      <p class=MsoNormal>4.2 Üye ve kullanıcılar, BENVARIM’ın portalde ve sunulan
      hizmetlerde istedi&#287;i zaman ve tamamen kendi takdirine ba&#287;lı olarak
      de&#287;i&#351;iklik yapabilece&#287;ini, var olan hizmetleri
      kaldırabilece&#287;ini ve yenilerini ekleyebilece&#287;ini kabul eder. </p>

      <p class=MsoNormal>4.3<span style="mso-spacerun: yes">&nbsp;&nbsp;
      </span>BENVARIM, üyeye sadece, kayıtlı STK’lara ba&#287;ı&#351;ta bulunmak
      ve/veya STK’lar için ba&#287;ı&#351; sayfaları hazırlamak<span
      style="mso-spacerun: yes">&nbsp; </span>için bir platform sa&#287;layacak
      teknik bir uygulama sunmaktadır. BENVARIM, gönüllü üyelerin STK’larla ve
      di&#287;er üyelerle aralarındaki ileti&#351;im içeri&#287;ine katılmaz.
      Üyelerin BENVARIM üzerinden yapacakları i&#351;lemlere<span
      style="mso-spacerun: yes">&nbsp; </span>BENVARIM'ın katılımı söz konusu
      olmadı&#287;ı gibi, BENVARIM i&#351;lemlerde taraf da olmaz. Portal üzerinden
      kurulacak her türlü ili&#351;kiden kaynaklanan i&#351;lemlerden üyeler bizzat
      kendileri sorumludur. Üyenin portal üzerinden yapaca&#287;ı i&#351;lemlerde
      gerek STK ile, gerekse di&#287;er üyelerle olan ili&#351;kilerinde BENVARIM
      sadece ileti&#351;im aracını sa&#287;lamakta olup bu ili&#351;kilerin
      içeri&#287;ini ve mahiyetini bilmedi&#287;i gibi bilmesi de beklenemez. </p>

      <p class=MsoNormal>4.4. Kaydetme, kayıtta verilen taahhütler</p>

      <p class=MsoNormal>4.4.1 Gönüllü üyelerin, BENVARIM web sitelerindeki
      hizmetleri almaya ba&#351;lamadan önce kendini sisteme kaydetmesi
      gerekmektedir.</p>

      <p class=MsoNormal>4.4.2 Üye, kayıt sırasında kendisi tarafından verilmi&#351;
      olan tüm bilgilerin do&#287;ru ve eksiksiz oldu&#287;unu taahhüt eder. Üye, üye
      bilgilerindeki de&#287;i&#351;ikliklerden BENVARIM'i derhal haberdar etmekle
      yükümlüdür.</p>

      <p class=MsoNormal>4.4.3 Üye, rumuz veya sanatçı adı kullanamaz.</p>

      <p class=MsoNormal>4.4.4 Üye, kayıt anında re&#351;it oldu&#287;unu taahhüt
      eder.</p>

      <p class=MsoNormal>4.4.5 Ba&#351;vuru sırasında üye bir &#351;ifre seçer. Üye,
      bu &#351;ifreyi gizli tutmayı taahhüt eder. BENVARIM, &#351;ifreyi üçüncü
      &#351;ahıslara vermeyecek ve üyelerden bu &#351;ifreyi hiç bir zaman
      sormayacaktır.</p>

      <p class=MsoNormal>4.4.6 Kayıt i&#351;leminin sona ermesiyle üye, BENVARIM web
      sayfalarının hizmetlerinden yararlanmak için sözle&#351;me yapılması konusunda
      bir teklifte bulunmu&#351; olacaktır. BENVARIM, BENVARIM web sayfalarının kullanımını
      üyeye açarak üyenın bu teklifini kabul etmi&#351; olur. Bu kabulle birlikte üye
      ile BENVARIM arasındaki sözle&#351;me yürürlü&#287;e girmi&#351; olur.</p>

      <p class=MsoNormal>4.4.7 Her üye sadece bir kez kayıt olabilir ve sadece bir
      kez üye profili olu&#351;turabilir.</p>

      <p class=MsoNormal>4.4.8 A&#351;a&#287;ıdaki eylemler kullanıcılara yasaktır.
      Bu eylemlerin yapılması durumunda BENVARIM kullanıcının üyeli&#287;ini derhal
      sonlandırarak kullanıcının yüklemi&#351; oldu&#287;u tüm içeri&#287;i derhal
      yayından kaldıracaktır. Üye bu durumda herhangi bir tazminat vb. talebinde bulunmayaca&#287;ını
      kabul, beyan ve taahhüt eder</p>

      <p class=MsoNormal>BENVARIM Web sayfalarının kullanımı ile ili&#351;kili olarak
      mekanizmaların, yazılımların veya yazılı metinlerin kullanılması. Ancak
      kullanıcı, BENVARIM web sitelerinde sunulan hizmetler kapsamında BENVARIM
      tarafından kullanıma açılmı&#351; arabirimleri veya yazılımları kullanabilir.</p>

      <p class=MsoNormal>Bu i&#351;lem, BENVARIM web sitelerindeki hizmetlerin
      usulüne uygun olarak kullanılması için gerekli olmadı&#287;ı sürece bloke
      etmek, üstüne yazmak, modifiye etmek, kopyalamak, “Robot/Crawler” arama
      motorları teknolojisi kullanılarak kopyalamak, BENVARIM web sayfalarının
      usulüne uygun biçimde kullanılması için gerekli de&#287;ildir ve bu nedenle de
      kesinlikle yasaktır.</p>

      <p class=MsoNormal>BENVARIM alt yapısının i&#351;levselli&#287;ini etkilemeye,
      özelikle de a&#351;ırı derecede yük bindirmeye uygun olan her türlü i&#351;lem
      yasaktır.</p>

      <p class=MsoNormal>Üye Sitede yer alacak<span style="mso-spacerun: yes">&nbsp;
      </span>profil olu&#351;turma, yazı&#351;ma ve benzeri ba&#351;lıklara
      ili&#351;kin alanları yalnızca bu alanların kullanım amacıyla ba&#287;lantılı
      mesaj ve materyal göndermek amacıyla kullanmayı ve bu sayılanlarla sınırlı
      olmamakla birlikte kullanımlarını a&#351;a&#287;ıda sayılan sonuçları
      do&#287;uracak biçimde gerçekle&#351;tirmeyece&#287;ini kabul , beyan ve
      taahhüt eder. Üyenin ba&#287;ı&#351;portalını kullanımı sırasında
      a&#351;a&#287;ıda örnek olarak sayılmı&#351; olan ve fakat sınırlayıcı olmayan
      davranı&#351;lar veya yürürlükteki mevzuata veya genel ahlak ve adaba aykırı,
      toplumu veya di&#287;er üyelerı rahatsız edici davranı&#351;larda bulunması
      BENVARIM’a üyenin sözle&#351;mesini derhal feshetme hakkı verir. Üye bu durumda
      herhangi bir tazminat talebinde bulunamayaca&#287;ı gibi bu durumda üyenin
      BENVARIM sitelerine yüklemi&#351; oldu&#287;u her türlü bilgiyi BENVARIM’ın
      yayından kaldırma ve silme hakkına sahip oldu&#287;unu ve bu verileri iade
      yükümlülü&#287;ü olmadı&#287;ını kabul eder. Portalın kullanımı sırasında
      üyenin gerçekle&#351;tirmemeyi kabul ve taahhüt etti&#287;i hareketler bu
      sayılanlarla sınırlı olmamak ve örnekleyici olmak kaydı ile &#351;unlardır:</p>

      <p class=MsoNormal>a) T.C. Anayasa ve Kanunlarına aykırı davranı&#351;larda
      bulunmak, bu itibarla hakaret, iftira, sövme, tehdit, ki&#351;ilik hakları ve
      özel hayatın gizlili&#287;ini ihlal ba&#351;ta olmak üzere ki&#351;ilerin yasal
      haklarını ihlal eden davranı&#351;lar,</p>

      <p class=MsoNormal>b) BENVARIM web sitelerinin veya di&#287;er kullanıcıların
      içeriklerinin yayınlanması ve kamuya açılması,</p>

      <p class=MsoNormal>c) Yürürlükte olan Internet Ortamında Yapılan Yayınların
      Düzenlenmesi ve Bu Yayınlar Yoluyla &#304;&#351;lenen Suçlarla Mücadele Edilmesi
      Hakkında 5651 Sayılı Kanun’un 8. maddesinde sayılanlar ba&#351;ta olmak üzere
      yalan, haksız, müstehcen, yakı&#351;ıksız içerikleri veya yasa dı&#351;ı
      materyal veya bilgiyi yayınlamak, postalamak, da&#287;ıtmak ve<span
      style="mso-spacerun: yes">&nbsp; </span>veya yaymak veya olay tarihinde
      yürürlükte olacak ilgili mevzuata aykırı hareketlerde bulunmak,</p>

      <p class=MsoNormal>d) Fikir ve Sanat Eserleri Kanunu, markalar mevzuatı ve
      yürürlükteki rekabet mevzuatına aykırı i&#351;lemler yapmak. </p>

      <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>5. BENVARIM Web
      sayfalarındaki hizmetlerin de&#287;i&#351;tirilmesi<o:p></o:p></b></p>

      <p class=MsoNormal>BENVARIM, sunulmakta olan hizmetleri, de&#287;i&#351;tirme
      veya bunlardan farklı hizmetleri sunma hakkını saklı tutar.</p>

      <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>6. Sözle&#351;menin
      sona ermesi<o:p></o:p></b></p>

      <p class=MsoNormal>6.1 Üye, üyeli&#287;ini her zaman, hiçbir sebep belirtmeden
      feshedebilir. Feshi ihbar, iletisim@benvarim.com adresine üyelik bilgilerinin
      silinmesiyle ilgili email atılarak yapılabilir. Feshi ihbarda kullanıcı adının
      ve BENVARIM web sitelerinde kayıtlı bir e-posta adresinin belirtilmesi
      gereklidir. </p>

      <p class=MsoNormal>6.2 BENVARIM üyenin kendisini zarara u&#287;ratacak ve zor
      durumda bırakacak her türlü eylemi sonucunda ve bunlarla sınırlı olmamak
      kaydıyla örnek olarak a&#351;a&#287;ıda sunulmu&#351; olan durumlarda üyenin
      üyeli&#287;ine derhal son verebilir:</p>

      <p class=MsoNormal>a)<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Üye
      tarafından yasal mevzuata uyulmaması,</p>

      <p class=MsoNormal>b)<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Üyenin
      sözle&#351;me yükümlülüklerini ihlal etmesi,</p>

      <p class=MsoNormal>c)<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>BENVARIM
      web sitelerinde sunulmakta olan hizmetlerin imajının üyenin mevcudiyeti
      nedeniyle önemli ölçüde olumsuz etkilenmesi (örne&#287;in üyenin kaydolmasından
      sonra, kendisinin kasten i&#351;ledi&#287;i bir suçtan dolayı ceza almı&#351;
      oldu&#287;unun ortaya çıkması),</p>

      <p class=MsoNormal>d)<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Üyenin,
      güvenlik güçleri veya yargı organları tarafından izlenmekte olan örgüt,
      ki&#351;i, vakıf, dernek veya cemaatlerin veya onların yöntemlerinin ya da
      faaliyetlerinin tanıtımını yapması,</p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>e)<span
      style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Üyenin
      bir veya daha fazla üyeye zarar vermesi veya<o:p></o:p></span></p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>f)<span
      style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Üyenin
      bir yasa dı&#351;ı örgüte veya tarikata veya Türkiye'de tartı&#351;malı bir
      toplulu&#287;a üye olması.<o:p></o:p></span></p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>6.3 „6.2.“
      maddeye göre önemli bir nedenin mevcudiyeti durumunda BENVARIM, 6.3. maddeye
      göre fesih hakkından ba&#287;ımsız olarak üyeye<span style="mso-spacerun:
      yes">&nbsp; </span>kar&#351;ı a&#351;a&#287;ıdaki yaptırımları uygulayabilir:<o:p></o:p></span></p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>-
      Kullanıcıya ait içeriklerin silinmesi,<o:p></o:p></span></p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>-
      &#304;htar hakkı,<o:p></o:p></span></p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>- BENVARIM
      web sitelerinin hizmetlerine eri&#351;imin önlenmesi.<o:p></o:p></span></p>

      <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span lang=DE-AT
      style='mso-ansi-language:DE-AT'>7. Üye içerikleri, verileri ve/veya bilgilerine
      ili&#351;kin sorumluluk<o:p></o:p></span></b></p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>7.1
      BENVARIM, üyelerin sundu&#287;u içerikler, veriler ve/veya bilgiler ile
      ba&#287;lantılı web sitelerinin içerikleri için sorumluluk üstlenmez. BENVARIM
      özellikle bu içeriklerin do&#287;rulu&#287;unu, belli bir amacı yerine
      getirdiklerini veya böyle bir amaca hizmet edebileceklerini garanti etmez.<o:p></o:p></span></p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>7.2 Üye,
      BENVARIM web sitelerinin, T.C. yasaları veya sözle&#351;me hükümlerini ihlal
      eder &#351;ekilde kullanıldı&#287;ını fark etti&#287;inde bunu
      iletisim@benvarim.com adresine e-posta yollayarak bildirebilir.<o:p></o:p></span></p>

      <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span lang=DE-AT
      style='mso-ansi-language:DE-AT'>8. Veri koruma<o:p></o:p></span></b></p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>BENVARIM,
      üyelerin ki&#351;ilikleri ile ilgili olarak BENVARIM'a aktardıkları tüm
      bilgilerin özel bir hassasiyetle kullanılmasının üyeler için çok önemli
      oldu&#287;unun bilincindedir. Bu nedenle BENVARIM, ilgili tüm yasal veri koruma
      mevzuatına uymaktadır (Türk Veri Koruma Yasaları, Avrupa Veri Koruma
      Yönergeleri ve burada uygulanabilecek di&#287;er tüm yasal bilgi koruma
      mevzuatı). BENVARIM, üyelerle ilgili bilgileri özellikle yetkisiz üçüncü
      &#351;ahıslara vermeyecek veya üçüncü &#351;ahısları bu konuda
      bilgilendirmeyecektir. <o:p></o:p></span></p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>BENVARIM
      5651 sayılı yasa gere&#287;i üyelerinin trafik verilerini ve bu yasa ile veya
      yürürlükte olan veya ileride yürürlü&#287;e girecek olan di&#287;er mevzuat ile
      tutulması gereken tüm verileri tutmaktadır. Üye yasal zorunluluk nedeni ile
      tutulmakta olan bu veriler nedeniyle ileti&#351;iminin mahremiyetinin veya
      di&#287;er haklarının zarara u&#287;radı&#287;ı iddiasında bulunmayaca&#287;ını
      kabul ve taahhüt eder. BENVARIM bu verilerin saklanmasında ve imhasında gerekli
      tüm özeni göstermeyi taahhüt eder. <o:p></o:p></span></p>

      <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span lang=DE-AT
      style='mso-ansi-language:DE-AT'>9. Son hükümler<o:p></o:p></span></b></p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>9.1<span
      style="mso-spacerun: yes">&nbsp; </span>BENVARIM bu GTK'ı, her zaman, neden
      belirtmeksizin de&#287;i&#351;tirme hakkını saklı tutar. Üye, i&#351;bu
      sözle&#351;menin son düzenlenme tarihini takip etmekle yükümlüdür. BENVARIM,
      sözle&#351;menin son düzenlenme tarihini sözle&#351;menin en üstünde yazılı
      olarak tutacaktır. Üye, yeni GTK'nın geçerlili&#287;ine iki (2) hafta
      içerisinde itiraz etmedi&#287;i takdirde, yeni GTK, üye tarafından kabul
      edilmi&#351; sayılır. <o:p></o:p></span></p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>9.2
      Ba&#351;ka bir mutabakat söz konusu de&#287;ilse, üye, tüm açıklama ve
      beyanlarını BENVARIM'a iletisim@benvarim.com vasıtasıyla e-posta olarak
      aktarabilir. BENVARIM kullanıcıya yapaca&#287;ı beyan ve açıklamaları, e-posta
      olarak veya kullanıcının kendi kullanıcı hesabında belirtirmi&#351; oldu&#287;u
      &#351;ekilde faks veya mektup vasıtası ile iletebilir.<o:p></o:p></span></p>

      <p class=MsoNormal><span lang=DE-AT style='mso-ansi-language:DE-AT'>9.3 Bu
      GTK'nın münferit düzenlemeleri geçersiz olur veya gelecekte geçersiz hale
      gelecek olursa, bundan di&#287;er düzenlemeler etkilenmeyecektir. Sözle&#351;me
      tarafları, geçersiz duruma gelmi&#351; bir düzenlemeyi, düzenleme
      içeri&#287;ini ekonomik olarak arzu edilen anlam ve amaca en yakın olan bir
      düzenleme ile de&#287;i&#351;tirmeyi taahhüt ederler. Bu, mealen
      sözle&#351;medeki bo&#351;luklar için de geçerlidir.<o:p></o:p></span></p>

      <p class=MsoNormal>9.4 &#304;fa yeri, Türkiye Cumhuriyeti‘dir.</p>

      <p class=MsoNormal>9.5 Yetkili mahkeme, &#304;stanbul mahkemeleridir.</p>





      </div>
    </div>
</div><!-- end of #main-content -->

<%= render 'layouts/sidebar'%>
