<div class="widget widget-dark" id="page-nasil">
  <div class="w-inner">
  </div>
</div>

<div class="page line clearfix" id="nasil-calisir">
  <div class="p-nav size1of4">
    <%= render 'home/includes/subnav_nasil_calisir'%>
  </div><!-- subnav -->
  <div class="p-content size3of4 lastUnit">
    <div class="p-inner">
      <div class="p-summary">
        <h3>Nasıl Çalışır?</h3>

        <p>BenVarım, sosyal sorumluluk projeleri için bağış ve tanıtım platformudur.</p>

        <p>Gönüllüsü olduğunuz vakıf veya derneğin, bağış kampanyasına katılarak kendinize bir bağış sayfası yaratabilirsiniz.  BenVarım ile, sosyal ağınızda bulunan arkadaş, akraba ve diğer gönüllülere kolayca ulaşacak ve daha fazla bağış toplanmasına aracı olacaksınız.</p>

        <p>BenVarım, vakıf ve derneklerin seslerini daha geniş kitlelere ulaştırır.</p>

        <p>BenVarım’ı iki şekilde kullanabilirsiniz:</p>
      </div>

      <div class="p-details">
        <%= render 'home/includes/how_it_works'%>
      </div>
    </div>
  </div><!-- p-content -->
</div><!-- .page -->


