<div class="page line clearfix" id="sik-sorulan-sorular">
  <div class="p-nav size1of4">
    <%= render 'home/includes/subnav_nasil_calisir'%>
  </div><!-- subnav -->
  <div class="p-content size3of4 lastUnit">
    <div class="p-inner">
      <div class="p-summary">
        <h3>Sık Sorulan Sorular</h3>
        <p>BenVarım Platformu, Türkiye’de ilk kez uygulanan bir sosyal girişim olduğu için, ilk yayına açıldığı zamandan beri pek çok soru aldık. En çok öne çıkanlar sistemin tam olarak ne olduğu, nasıl işlediği, ne amaca hizmet ettiği, kurucuların ve ekibin kimlerden oluştuğuydu. Karşımıza sık sık çıkan bu soruların cevaplarını aşağıda üç kategori altında sizlerle paylaşıyoruz. Eğer aradığınız sorunun cevabını bulamazsanız, lütfen bizimle <%=link_to "iletişime", :new_contact_form %> geçiniz.</p>

      </div>

      <div class="p-details">
        <%= render 'home/includes/faq'%>
      </div>
    </div>
  </div><!-- p-content -->
</div><!-- .page -->












