<div class="page line clearfix" id="sik-sorulan-sorular">
  <div class="p-nav size1of4">
    <%= render 'home/includes/subnav_nasil_calisir'%>
  </div><!-- subnav -->
  <div class="p-content size3of4 lastUnit">
    <div class="p-inner">
      <div class="p-summary">
      </div>

      <div class="p-details">
        <%= render 'home/includes/faq'%>
      </div>
    </div>
  </div><!-- p-content -->
</div><!-- .page -->












