
<div id="main-content">
  <div class="widget widget-light">
    <div class="w-inner">
      <div class="w-title">Yardım</div>
       

        <p>BenVarım, sosyal sorumluluk projeleri için bağış ve tanıtım platformudur.</p>
 
      </div>
    </div> 
</div><!-- end of #main-content -->

<%= render 'layouts/sidebar'%>
