				</div> <!-- #content -->

				<div align="left" id="content-footer">
					Sevgiler,<br style="line-height: 100%;"><img src="https://www.benvarim.com/images/benvarim-platformu.png" width="177" height="24" style="padding-top: 5px; height: auto; line-height: 100%; outline: none; text-decoration: none; display: block;" title="BenVarım Platformu">
</div>
<!-- #footer -->

			</td>
		</tr>
<tr style="display: none; border-collapse: collapse;">
<td width="640" height="15" bgcolor="#ffffff" class="w640" style="width: 640px !important; border-collapse: collapse;">
			</td>
		</tr>
<tr style="border-collapse: collapse;">
<td width="640" class="w640" style="width: 640px !important; border-collapse: collapse;">
				<table width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#000D1B" class="w640" id="footer" style="font-size: 12px; width: 300px !important; border-radius: 0px 0px 6px 6px; -moz-border-radius: 0px 0px 6px 6px; -webkit-border-radius: 0px 0px 6px 6px; -webkit-font-smoothing: antialiased; color: #ffffff; box-shadow: 0 2px 2px #666; background-color: #000000; width: 640px !important"><tbody>
<tr style="border-collapse: collapse;">
<td width="60" class="hide w0" style="display: none !important; border-collapse: collapse;">
					</td>
					<td valign="top" height="16" class="hide w0" style="display: none !important; border-collapse: collapse;">
					</td>
				</tr>
<tr style="border-collapse: collapse;">
<td style="border-collapse: collapse;">
          <div class="line align-center social-links " style="*zoom: 1; text-align: center; margin: 0 auto;" align="center">
            <table cellpadding="0" cellspacing="0" style=" width: 580px; margin:0;" >
              <tr>
                <td style="font-size: 14px;  height: 16px !important;">
                  <p style="padding: 10px 0"><img src="https://www.benvarim.com/images/social_media_mini_icons/png/facebook.png" style="display: inline-block; margin-right: 5px; line-height: 16px; vertical-align: top; font-size: 14px; height: auto; outline: none; text-decoration: none;"><a href="https://www.facebook.com/BenVarim.Platformu" style="color: #318FD1; text-decoration: none; font-weight: bold;">Facebook'ta beğen: BenVarım Platformu</a></p>
                </td>
                <td style="font-size: 14px;  height: 16px !important;">
                  <p style="padding: 10px 0"><img src="https://www.benvarim.com/images/social_media_mini_icons/png/twitter.png" style="display: inline-block; margin-right: 5px; line-height: 16px; vertical-align: top; height: auto; outline: none; text-decoration: none;"><a href="https://twitter.com/Ben_Varim" style="color: #318FD1; text-decoration: none; font-weight: bold;">Twitter'da takip et: @Ben_Varim</a></p>
                </td>
              </tr>
            </table>
          </div>
</td>
				</tr>
<tr style="border-collapse: collapse;">
<td width="60" class="hide w0" style="display: none !important; border-collapse: collapse;">
					</td>
					<td valign="top" height="16" class="hide w0" style="display: none !important; border-collapse: collapse;">
					</td>
				</tr>
</tbody></table>
</td>
		</tr>
<tr style="text-align: center; font-size: 13px; border-collapse: collapse;" align="center">
<td width="30" class="w30" style="width: 10px !important; border-collapse: collapse;">
			</td>
			<td width="160" height="16" class="w160 h0" style="border-collapse: collapse;">
			</td>
			<td width="160" height="16" class="w160 w0" style="border-collapse: collapse;">
			</td>
			<td width="30" class="w30" style="width: 10px !important; border-collapse: collapse;">
			</td>
		</tr>
<tr style="border-collapse: collapse;">
<td width="640" height="60" class="w640" style="text-align: center; font-size: 13px; width: 300px !important; border-collapse: collapse;" align="center">
	      <a href="https://www.benvarim.com" target="_blank" style="color: #0862a2;">https://www.benvarim.com</a><br style="line-height: 100%;"><p>Daha iyi yarınlar yaratmak adına gösterdiğin çaba için teşekkür ederiz.</p>
	      <p><a href="https://www.benvarim.com/guvenli_odeme" target="_blank" style="color: #0862a2;">%100 Güvenli Ödeme Sistemi</a> | <a href="https://www.benvarim.com/sik_sorulan_sorular" target="_blank" style="color: #0862a2;">Sık sorulan sorular</a> | <a href="https://www.benvarim.com/gizlilik_politikasi" target="_blank" style="color: #0862a2;">Gizlilik Politikası</a> | <a href="https://www.benvarim.com/iletisim/yeni" target="_blank" style="color: #0862a2;">Bize ulaşın</a></p>
        <p><br style="line-height: 100%;"></p>
	    </td>
		</tr>
</tbody></table>
</td>
</tr></tbody></table>
</body>
</html>
