<ul>
  <li>Twitter: <a href="http://twitter.com/#!/Ben_Varim">@BenVarim</a></li>
  <li>Facebook: <a href="http://www.facebook.com/BenVarim.Platformu">Ben Varım Facebok</a></li>
  <li>Email: <a href="mailto:iletisim@benvarim.com">iletisim@benvarim.com</a></li>
</ul>
</body>
</html>
