<div id="fb-root"></div>



<div class="share-options">
  <h3>Paylaşarak Destek Ol!</h3>
  <ul class="clearfix">


      <li>
        <div class="fb-like" data-send="true" data-layout="box_count" data-show-faces="true"></div>
      </li>


    <li>
      <a href="http://twitter.com/share?via=ben_varim"
         class="twitter-share-button"
         data-count="vertical"
         data-text="<%= @page.title %>">Tweetle</a>
    </li>



    <li>
      <!-- Place this tag where you want the +1 button to render -->
      <g:plusone size="tall"></g:plusone>

    </li>


    <li>
      <span  class='st_email_vcount' displayText='Email'></span>
    </li>


  </ul>



</div>