<%=render :partial => 'layouts/errors'%>

<div class="one-column">
  <div class="widget widget-light">
    <div class="w-inner">
      <div class="w-title">Bağış Sayfasını Düzenle</div>

      <%= render 'form' %>


    </div>
  </div>
</div><!-- end of .one-column -->


<%= link_to 'Görüntüle', @page %> |
<%= link_to 'Geri', pages_path %>
