<div class="one-column">
  <div class="widget widget-light">
    <div class="w-inner">
      <div class="w-title">Bağış Kampanyası Düzenle</div>


      <%= render 'form' %>

      <%= link_to 'Geri', pages_path %>

      </div>
    </div>
</div><!-- end of .one-column -->

