<ul class="stats">

  <% if @user.pages.length > 0 %>
  <li class="rc">
    <div class="label">Topladığı Bağış:</div>
    <div class="number"><%= @user.total_fundraised %> TL</div>
  </li>
  <% end %>

  <!-- TODO(Yigit): Toplam Yapilan Bagis -->
  <li class="rc">
    <div class="label">Yaptığı Bağış:</div>
    <div class="number"><%=@user.total_donated%> TL</div>
  </li>

  <% if @user.supports.length > 0  %>
  <li class="rc">
    <div class="label">Desteklediği Kurum:</div>
    <div class="number"><%= @user.supports.length %></div>
  </li>
  <% end %>

</ul>