/* smaller than 980 */
@media screen and (max-width: 980px) {
	/* reset grid to percentage */
	#content .col,
	#content .col4-1,
	#content .col4-2,
	#content .col4-3,
	#content .col3-1,
	#content .col3-2,
	#content .col2-1
	{
		margin-left: 0;
	}
	#content .col4-1 {
		width: 25%;
	}
	#content .col4-2, #content .col2-1 {
		width: 50%;
	}
	#content .col4-3 {
		width: 75%;
	}
	#content .col3-1 {
		width: 33%;
	}
	#content .col3-2 {
		width: 66%;
	}
	/* set img and object max width */
	img, object {
		width: auto\9; /* ie8 */
		max-width: 100%;
		height: auto;
	}
	#pagewrap {
		width: 95%;
	}
	/* header */
	#header {
		margin-bottom: 15px;
	}
	/* slider */
	#header-slider {
		padding: 0 35px 0 25px;
	}
	#header-slider .slides li {
		margin: .8em;
	}
	#header-slider img {
		max-width: 97%;
		height: auto;
	}
	.sidebar1 #content {
		width: 60%;
		padding: 3% 4%;
	}
	#sidebar {
		width: 30%;
	}
	/* footer grid */
	#footer .col2-1 {
		width: 48%;
		margin: 1% 2% 1% 0;
	}
	#footer .col3-1 {
		width: 31.2%;
		margin: 1% 2% 2% 0;
	}
	#footer .col4-1 {
		width: 23%;
		margin: 1% 2% 2% 0;
	}
	
	/************************************************************************************
	LAYOUTS
	*************************************************************************************/	
	/* grid4 */
	.grid4 .post {
		width: 23%;
		margin-left: 2.5%;
	}

	/* grid3 */
	.grid3 .post {
		width: 31.2%;
		margin-left: 3%;
	}
	
	/* grid2 */
	.grid2 .post, .grid2-thumb .post {
		width: 48.2%;
		margin-left: 3.5%;
	}

}

/* smaller than 720 */
@media screen and (max-width: 720px) {
	#pagewrap {
		width: 90%;
	}
	/* header */
	#header {
		height: auto;
	}
	.sidebar1 #content {
		width: auto;
		float: none;
		padding: 5%;
	}
	/* reset absolute elements to static */
	#header .social-widget, #site-logo, #site-description, #header #searchform, #nav-bar  {
		position: static !important;
		float: none;
		clear: both;
	}
	/* header */
	#header .social-widget {
		padding: 0 0 30px;
	}
	#header #searchform {
		padding: 10px 0;
		position: absolute;
		top: -10px;
		right: 0;
		z-index: 103;
	}
	#header #searchform #s {
		width: 50px;
		text-align: right;
	}
	#header #searchform #s:focus {
		width: 150px;
	}
	#site-logo {
		margin: 15px 100px 10px 0;
	}
	#site-description {
		margin: 0 0 15px;
	}
	/* slider */
	#header-slider h3 {
		display: none;
	}
	/* post title */
	.post-title {
		font-size: 150%;
		line-height: 120%;
		padding-top: 0;
	}
	/* commentlist */
	.commentlist ul {
		margin-left: 20px;
	}
	.next-prev-comment {
		position: static;
		margin: 0 0 5px;
	}
	.commententry {
		clear: both;
	}
	/* sidebar */
	#sidebar {
		width: 100%;
	}
	/* footer */
	#footer .col4-1, #footer .col4-3, #footer .col3-2, #footer .col3-1, #footer .col2-1 {
		float: none;
		width: auto;
		margin: 0;
	}
	#footer-nav {
		text-align: center;
		padding-top: 10px;
		margin-bottom: 0;
	}
	#footer .footer-text {
		text-align: center;
		padding-top: 10px;
	}
	
	/************************************************************************************
	LAYOUTS
	*************************************************************************************/	
	/* grid4 */
	.grid4 .post, .sidebar1 .grid4 .post {
		width: auto;
		float: none;
		margin-left: 0;
	}

	/* grid3 */
	.grid3 .post, .sidebar1 .grid3 .post {
		width: auto;
		float: none;
		margin-left: 0;
	}
	
	/* grid2 */
	.grid2 .post, .grid2-thumb .post, .sidebar1 .grid2 .post, .sidebar1 .grid2-thumb .post {
		width: auto;
		float: none;
		margin-left: 0;
	}

}

/* smaller than 560 */
@media screen and (max-width: 560px) {
	html {
    		-webkit-text-size-adjust: none;
	}
	#pagewrap {
		width: 95%;
	}
	/* main nav */
	#nav-bar {
		height: auto;
	}
	#main-nav li {
		height: auto;
	}
	#main-nav a {
		font-size: 80%;
		padding: 8px;
	}
	#header-slider {
		margin-bottom: 10px;
	}
	/* post date */
	.post-date {
		width: 44px;
	}
	/* post-nav */
	.post-nav span {
		width: auto;
		margin-bottom: 10px;
	}
	/* post title */
	.post-title {
		font-size: 140%;
		line-height: 130%;
	}
}

@media screen and (max-width: 480px) {
	
	#header-slider {
		display: none; /* hide slider */
	}
	
}