
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Genel sorular</a></li>
		<li><a href="#tabs-2">Kurumlarla ilgili sorular</a></li>
		<li><a href="#tabs-3">Gönüllülerle ilgili sorular</a></li>
	</ul>
	<div id="tabs-1" class="accordion">

    <h4>Kimler Benvarim.com’u kullanabilir?</h4>
    <p>Türkiye Cumhuriyeti’nde yasal olarak kurulan tüm dernekler ve vakıflar BenVarım platformunu kullanarak sosyal sorumluluk projelerini tanıtabilir ve bunlar için bağış toplayabilir.</p>

    <h4>Çalışanı veya gönüllüsü olduğum STK’yı nasıl kayıt edebilirim?</h4>
    <p><a title="Yeni Kurum Ekle" href="https://www.benvarim.com/kurum/yeni" target="_blank">Kurum kayıt</a> linkini takip ederek formu ve gerekli bilgileri doldurunuz. BenVarım yetkilileri en kısa zamanda sizinle iletisime geçerek güvenlik ve yasal sorgulamaları yapacaklar. Bu sırada sizden bazı dökümanları isteyeceğiz. Herşey yolunda giderse 2 gün içinde tüm işlemleri tamamlayabiliriz.</p>


    <h4>Benvarim.com’da yapılan bağışlar nereye gidiyor?</h4>
    <p>Benvarim.com’da bağışçıların yaptığı tüm ödemeler, bağış yaptığınız sayfanın ilgili olduğunu kurumunun banka hesabına yatırılmaktadır. BenVarım Platformu herhangi bir şekilde aracı veya temsilci değildir.</p>

    <h4>Yaptığım bağışın, bağış yaptığım kuruma gittiğinden nasıl emin olabilirim?</h4>
    <p>Yardımseverlerin yaptığı bağışlar bankacılık ve PayPal kanalıyla direk olarak bağış yaptığınız kurum’un hesabına aktarılmaktadır. Emin olmak için, bağış yaptığınız kurumla iletişime geçmenizi öneririz. Benvarim.com üzerinde, kurum profil sayfasında, desteklediğiniz kurumun iletişim bilgilerini bulabilirsiniz.</p>

    <h4>Bağış yapma sistemi güvenli mi?</h4>
    <p>Evet. BenVarım platformu bağışçılara <a title="PayPal Türkiye" href="http://www.paypal.com.tr" target="_blank">PayPal</a> ve bankalar üzerinden işleyen bir sistem sunmaktadır. PayPal uluslararası para transferi hizmeti sunan, 100 milyondan fazla kullanıcıya sahip ve kendini kanıtlamış bir ödeme sistemidir. Türkiye’de Nisan 2011′den itibaren Türkiye PayPal Direktörlüğü bulunmaktadır ve Türk Lirası ile işlem yapılabilir.</p>

    <h4>Kredi kartı veya banka kartıyla bağış yapabilir miyim?</h4>
    <p>Elbette. BenVarım platformu, bağışçılara Visa ve Mastercard amblemi olan tüm kartlarla bağış yapma olanağı sağlar. Bununla beraber, eğer kişisel PayPal hesabınız varsa, bu yöntemle de bağış yapabilirsiniz.</p>

    <h4>PayPal’den yapılan ödemelerin komisyonunu kim ödüyor?</h4>
    <p>Eğer kendi PayPal hesabınızla bağış yaparsanız, kimse komisyon ödenmiyor. Eğer banka veya kredi kartınızı kullanarak PayPal aracılığıyla ödeme yaparsanız, PayPal, bağış yaptığınız kurumdan, yapılan bağış miktarına göre %2 ile %8 arası hizmet bedeli tahsil edecektir.</p>

    <h4>BenVarım bir vakıf veya dernek mi?</h4>
    <p>Hayır. BenVarım platformu ne bir vakıf veya dernek, ne de bir sivil toplum kuruluşudur. Kurucuları senelerce sivil toplum kuruluşlarında yöneticilik yapmış olan BenVarım platformu, Türkiye’deki vakıf ve derneklere hizmet sunan online bir blogging ve sosyal medya servisidir. Benvarim.com, Türkiye’deki sivil toplum kuruluşlarının güçlenmesi için çalışan bir hizmet sağlayıcıdır olarak özetlenebilir.</p>

    <h4>BenVarım’ın amacı nedir?</h4>
    <p>BenVarım Platformu, sivil toplum kuruluşlarının –özellikle Türkiye’de bağış toplama yetkisi olan vakıf ile derneklerin- Facebook, Twitter ve benzeri sosyal ağlar ile gönüllülerine ulaşmasını sağlar. Böylece gönüllüler hem desteklediği projelere direk bağış yapabilir hem de inandığı kuruluşlar için kendi bağış sayfalarını oluşturarak çevrelerinden destek toplayabilir.</p>

    <h4>Benvarim.com’u kim kurdu?</h4>
    <p>Benvarim.com, İstanbul, Ankara ve San Francisco’da yaşayan, geçmişinde yaklaşık otuz senelik sivil toplum deneyimi olan altı kişilik, mühendis, avukat, tasarımcı, mali müşavirlerden oluşan bir kadro tarafından hayata geçirilmiştir. Kurucular tamamen gönüllü olarak Benvarim.com’a emeklerini vermeye devam ediyorlar. Önümüzdeki yıllardan itibaren Benvarim.com ‘un profosyonel deneyimli yöneticiler tarafından yönetilmesi için çalışmalar yapılacaktır.</p>

    <h4>Benvarim.com ekibine nasıl katılabilirim?</h4>
    <p>Kapımız sivil toplum projeleri ve internet girişimleri konusunda kendini geliştirmek isteyen herkese açık. Yetenekli, kendine güvenen, disiplinli ve topluma hizmet etmekten hoşlanan herkese ekipte bir iş var. Amacımız tüm Türkiye’ye hizmet etmek, bunun için çok çalışıyoruz. Projemizde bizimle beraber çalışanlar, başarılı bir girişimde hızla yol almanın keyfini de yaşayacaklar. <a href="https://www.benvarim.com/kariyer" target="_blank">Kariyer</a> bölümümüzü ziyaret edebilir veya bizimle kariyer@benvarim.com adresinden iletişim kurabilirsiniz.</p>
	</div><!-- #tabs-1 -->





	<div id="tabs-2" class="accordion">
    <h4>Benvarim.com’u neden kullanayım?</h4>
    <p>Neden kullanmayasınız? Benvarim.com, Türkiye’nin ilk çevrimiçi bağış toplama (online fundraising) servisidir. Türkiye’deki tüm sivil toplum kuruluşları (vakıf ile dernekler), sosyal ağları kullanarak projelerini tanıtabilir, gönüllüler aracılığı ile daha fazla bağış toplayabilirler.</p>

    <h4>Benvarim.com’u kullanmak kurumumuza yapılan bağışları ne kadar artıracak?</h4>
    <p>Bunun cevabını vermek zor. Ancak, yurtdışındaki örneklerden ve geçmiş tecrübelerimizden, belli bir zaman diliminde yapılan bağış miktarının yaklaşık 3 kat arttığını ve idari giderleri yüzde %75 düşürdüğünü söyleyebiliriz. Bununla beraber, belli bir zaman diliminde, projenin ulaştığı kitle yaklaşık 10 kat artmaktadır.</p>
    <p>Bu değerlerden projeden proje değişmektedir. Ancak, Benvarim.com ‘un vakıf ile dernek projelerine minimum harcamayla yüksek bir geri dönüşüm getirdiğini söyleyebiliriz.</p>

    <h4>Benvarim.com’dan deneme amaçlı yararlanabilir miyim?</h4>
    <p>Evet. Bize iletisim@benvarim.com adresinden ulaşabilirsiniz. Kurumunuzun, bir pilot proje ile geçici bir süreyle Benvarim.com’u kullanması için yardımcı olacağız.</p>

    <h4>Benvarim.com’u kullanmanın hukuki sakıncaları var mıdır?</h4>
    <p>Hayır. Benvarım platformu kurumunuz adınıza işlem yapan bir banka, aracı kurum, temsilci veya tüzel kişilik değildir. Benvarım platformunun işleyiş modeli, Türkiye Cumhuriyeti Vakıflar Mevzuatı, Dernekler Mevzuatı, 2680 sayılı Yardım Toplama Kanunu ve Bilişim Mevzuatına uygun olarak hazırlanmıştır. Kurucular, konuyla ilgili hukuksal hazırlıklarını yapmışlardır. Daha detaylı bilgi için <a href="mailto:iletisim@benvarim.com">iletisim@benvarim.com</a> adresinden eposta yoluyla bize ulaşabilirsiniz. Sizi yönlendirmekten memnuniyet duyarız.</p>

    <h4>Kurum’u kayıt ettikten sonra entegrasyon sürecinde nelerle karşılaşacağım?</h4>
    <div class="accordion-content">
      <p>Kurum bilgilerinizi BenVarım’a kayıt ettikten sonra, sizinle irtibata geçecek ve aşağıdaki bilgileri iletisim@benvarim.com adresine yollamanızı rica edeceğiz.</p>
      <ul>
      <li>Kurumun bilgilerinin doğruluğuyla ilgili bilgiler (Vakıflar için Vakıf Kuruluş Belgesi, Dernekler için en son Genel Kurul Sonuç Bildirimi)</li>
      <li>Kurumunuza yapılacak bağışların toplanacağı banka hesaplarına dair bilgiler. Birden fazla banka hesabı belirtebilirsiniz. (Banka Adı, Banke Hesap Sahibinin İsmi, Hesabın IBAN numarası)</li>
      <li>Kurumunuzda Benvarim.com yetkilileriyle iletişim halinde olacak ve raporlama bilgilerini alacak kişinin iletişim bilgileri (İsim, soyad, telefon numarası, email adresi, adres, kurumdaki görevi, doğum tarihi)</li>
      </ul>
      <p>Bu bilgilerin ardından, kurumunuz geçici olarak aktif hale geçecektir. Ardından sizden aşağıdaki bilgileri almamızla beraber hesabınız sürekli olarak aktif olacaktır.</p>
      <ul>
      <li>Kurumunuzun yetkili organı tarafından Benvarim.com ‘un kullanılmasına dair alınan kararın ibrazı</li>
      <li>Benvarim.com ile kurum arasında sözleşme imzalanması</li>
      </ul>
    </div>


    <h4>Dernek veya Vakıf olmayan kurum/kişilere bağış yapılabiliyor mu? Mesela birisi maddi durumu kötü bir tanıdığı için kampanya başlatabilir mi?</h4>
    <p>Temelde hayır. Türkiye’deki hukuki mevzuat gereği Benvarim.com ‘u yalnızca, bağış toplamaya yetkili olan vakıf ile dernekler kullanabiliyor. Türkiye’de 2680 Yardım Toplama Kanunu’na bu kuralları düzenliyor.</p>
    <p>Buna rağmen, ihtiyacı olan bireyler ilgili STK’lar ile iletişime geçip, geliştirdikleri projeler için bağış toplanmasını sağlayabilirler. Bunun yanı sıra, bireyler, emniyet müdürlüğü ve valiliklerle iletişime geçerek kendileri için yardım toplama kampanyası izni alabilirler. Bu izinleri belgeleyen herkes Benvarim.com üzerinden tanıtım yapabilir.</p>

    <h4>Kıyafet, kitap, tekerlikli sandalye gibi taşınabilir eşya bağışı kampanyalarını da destekliyor musunuz?</h4>
    <p>Hayır. Benvarim.com İnternet üzerinde çalışan bir yapı olduğu için sadece ödeme sistemleri aracılığıyla kurumlara bağış toplanabiliyor. Şu andaki durumda, desteğe ihtiyacı olan kurumlar, ücretsiz olarak sayfa hazırlayıp bu ihtiyaçlarını listeleyebilirler ve gönüllülerinin doğrudan bu tarz yardımlarını toplamak için Benvarim.com üzerinden duyuru yapabilirler. Bu tarz duyuruları teşvik ediyoruz ancak kargo takibini kurumlara ve gönüllülere bırakıyoruz.</p>

    <h4>Bağış kampanyalarının bir süresi var mı?</h4>
    <p>Gönüllüler tarafından oluşturulan bağış sayfalarının şu anda süresi yok, ancak üzerine çalışıyoruz. STK’lar tarafından oluşturulan bağış kampanyalarının süresi var ve bu süre kurumun aldığı yasal izinlere bağlı.</p>

    <h4>Neden kurumların kaydı için belge istiyorsunuz?</h4>
    <p>Türkiye’deki yasal mevzuat zaten bizi bu konuda dikkatli olmamız için zorluyor. Benvarim.com’u kullanacak tüm kurumlardan, tüzel kişiliklerini, projelerini ve banka hesap numaralarını kanıtlayacak belgeleri talep ediyoruz. Bu dikkatimiz, hem yasalara uymamız gereğinden, hem de bağışçı ile kurumları korumak gibi bir görevimiz olmasından kaynaklanıyor.</p>

    <a title="View BenVarım Platformu - Kurumsal Tanıtım Sunumu on Scribd" href="http://www.scribd.com/doc/62796024/BenVar%C4%B1m-Platformu-Kurumsal-Tan%C4%B1t%C4%B1m-Sunumu" style="display:none;">BenVarım Platformu - Kurumsal Tanıtım Sunumu</a>

    <iframe class="scribd_iframe_embed" src="https://www.scribd.com/embeds/62796024/content?start_page=1&view_mode=slideshow&access_key=key-25d01dvpq73snhv947lr" data-auto-height="true" data-aspect-ratio="1.2938689217759" scrolling="no" id="doc_21769" width="100%" height="600px" frameborder="0"></iframe><script type="text/javascript">(function() { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "https://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();</script>



	</div><!-- #tabs-2 -->







	<div id="tabs-3" class="accordion">
    <h4>Bir gönüllü olarak BenVarım’ın bana sağlayacağı fayda nedir?</h4>
    <p>Hayatınızdaki her faaliyette akraba ve arkadaşlarınızın size destek olacağını biliyorsunuz. Bu manevi faydayı, topluma yararlı bir faydaya dönüştürmek sizin elinizde. Eğer koşu, bisiklet, yüzme veya herhangi bir spor müsabakasına katılıyorsanız, yeni sergi açtıysanız, evleniyorsanız, çocuğunuz olduysa veya birinin yasını tutuyorsanız, doğumgünü ve yılbaşı kutlamalarını yapıyorsanız, tek yapmanız gereken BenVarım’da bir bağış sayfası yaratmak ve arkadaşlarınızdan sizin tercih ettiğiniz kuruma bağış yapmalarını istemek.</p>

    <h4>Bağış sayfamda neler yazmalıyım?</h4>
    <p>Kişisel olun. Unutmayın ki, bağışçıların, maddi desteklerinin sebebi gönüllüsü olduğunuz kurumdan ziyade ‘siz’ olacaksınız. Bu nedenle, tanıtım sayfanızı mümkün olduğunca kişiselleştirin. Dostlarınızın bir kahve ısmarlaması, ailenizin sizi bir akşam yemeği’ne çıkarması veya iş arkadaşlarınızın size yılbaşı hediyesi alması yerine aynı parasal miktarda bağışı desteklediğiniz kuruma yapmasını teşvik edebilirsiniz.</p>
    <p>Tanıtım sayfanızı kişiselleştirmek için, farklı sosyal çevreleriniz için farklı sayfalar hazırlayabilirsiniz.</p>
    <p>Mutlaka sizin için yazdığımız<a href="http://benvarimplatformu.wordpress.com/2011/07/29/gonullu-bagis-sayfasi-nasil-hazirlanir/" target="_blank"> “Nasıl Gönüllü Sayfası Oluşturulur”</a> yazısını okuyun.</p>

    <h4>Gönüllü sayfamı nasıl paylaşmalıyım?</h4>
    <p>BenVarım sayfalarını Facebook, Twitter ve Eposta ile paylaşmak çok kolay. Eğer sahip olduğunuz bir web sayfası varsa, BenVarım sayfasını çok kolay entegre edebilirsiniz.</p>
    <p>İstatistikler genellikle 2. veya 3. hatırlatmadan sonra, insanların bağış yapma bilinçlerinin güçlü şekilde harekete geçtiğini söylemektedirler. Bu nedenle, bir veya iki ay süre zarfında, sayfanızı çevrenizle en az üç kez paylaşmanız, topladığınız bağış miktarını artıracaktır.</p>

    <h4>Bağış hedefimi neye göre belirlemeliyim?</h4>
    <p>Bağış hedefi tamamen size kalmış. Hedefiniz size ve bağışçılarınıza motivasyon vereceği gibi, bağışınızın takipçi kazanmasını da sağlayacaktır.</p>
    <p>Yüksek bir bağış hedefi yararlı olsa da, toplayabileceğinizden çok yüksek bir hedef koymanız, bağışçılarınızın gözünü korkutabilir ve size inancını zedeleyebilir. Çok düşük bir bağış hedefi ise, bağışçılarınızın desteğine ihtiyacınız olmadığı anlamına gelebilir.</p>

    <h4>Gönüllü sayfası yarattıktan sonra ne kadar sıklıkta arkadaşlarıma hatırlatmalıyım?</h4>
    <p>Bizim tavsiyemiz, kişi başı en az ikişer kere hatırlatmanızdan yana. Kimi gönüllüler dört veya beşinci kez hatırlatmadan sonra bağış toplayabildiklerini anlatıyorlar. Unutmayın ki, bağışçılarınız sizi gönülden desteklese de kimi zaman bağış yapmaya fırsatları olmuyor veya unutabiliyorlar. Sayfanızı tekrar paylaşmak ayıp değil, hatta çoğu zaman bağışçılar yeterince hatırlatılmadıkları için gönüllüleri ayıplıyorlar. Sizi seven, desteğinize sahip çıkan gönüllülere sık sık hatırlatma yapmaktan çekinmeyin.</p>

    <h4>Kaç tane gönüllü (bağış) sayfası oluşturabilirim?</h4>
    <p>Sınırsız sayıda oluşturabilirsiniz. Oluşturduğunuz bağış sayfaları tamamen ücretsizdir. Buna rağmen, paylaşacağınız bağış sayfalarını sınırlı sayıda tutmanızı öneririz. Paylaştığınız kitleye göre, ayda iki farklı bağış sayfası yaratıp bağış toplamak psikolojik bir sınırdır. Senede altı sayfa oluşturmanız ise gerçek bir aktivist olduğunuzu gösterir. (Mesela iki ayda bir maratona katılarak bağış toplamak)</p>

    <h4>Birden fazla vakıf veya derneği aynı anda destekleyebilir miyim?</h4>
    <p>Evet. İstediğiniz sayıda kurum için aynı anda bağış sayfaları oluşturup paylaşabilir ve aynı anda bağış toplanmasını sağlayabilirsiniz.</p>

    <h4>Sayfamda yazdıklarımı beğenmedim, düzeltebilir miyim?</h4>
    <p>Evet. Bağış sayfanızdaki desteklediğiniz kuruluş linkinin hemen altında “düzenle” linkine tıklarsanız, sayfanızdaki tüm bilgileri değiştirebilirsiniz.</p>

    <h4>Gerçek ismimi vermem gerekiyor mu?</h4>
    <p>Bağış sayfası yaratan gönüllülerin, bağışçılarıyla iletişimini en iyi sağlayacakları bilgi isimleridir. Bu nedenle kesinlikle gerçek isminizi kullanmanızı rica ediyoruz. Kullanım sözleşmemize vakıf ile derneklerin talep ederse, gerçek olmayan isimlerin oluşturduğu sayfalar kapatılabilir.</p>

    <h4>Profil fotoğrafını neden istiyorsunuz?</h4>
    <p>Bağışçılarınıza kişisel bir mesaj vermeniz önemli. Kişisel mesajın en önemli tamamlayıcısı profil fotoğrafınızdır. Yüzünüz açık olarak göründüğü fotoğraf koymanızı tavsiye ediyoruz.</p>

    <h4>Gönüllü (bağış) sayfasında başlık ne işe yarar?</h4>
    <p>Bağış sayfasında seçtiğiniz başlık, sosyal medya paylaşım sitelerinde paylaşılacak sayfa başlığı olacaktır. Bu nedenle en can alıcı cümlenizi başlık olarak seçmenizi tavsiye ediyoruz. Bağışçılarınız, bir çırpıda ana mesajınızı anlamak isteyeceklerdir.</p>
	</div><!-- #tabs-3 -->

</div><!-- #tabs -->
