<div class="team-profile clearfix">

  <div class="profile clearfix" id="p-levent">
    <div class="profile_pic clearfix">
      <div class="_pm_container">
        <div class="_pm_shadow r"></div>
        <div class="_pm_shadow l"></div>
        <div class="_pm">
          <div class="_pm_inner">
            <img alt="Gerçek Karakuş" class="alt-img" src="/images/about/levent-bas.jpeg" width="152" />
            <div class="img_inner_shadow"></div>
          </div>
        </div>
      </div>
    </div><!-- end of profile_pic -->
    <div class="pr-details">
      <div class="p-name">Levent Baş</div>
      <div class="p-title">Genel Proje Direktörü</div>
      <p>BenVarım projesinin ekip liderliğini yürüten Levent Baş, profosyonel olarak İstanbul, San Francisco ve Singapur'da güneş enerjisi sektöründe çalışmalar yapmaktadır.</p>
      <p>Okul yılları ve sonrasında, çeşitli sivil toplum organizasyonlarında gönüllü ve yönetici olarak çalışan Levent'in, başarılı girişimleri arasında Boğaziçi Üniversitesi'nin ilk güneş enerjili aracının üretimi ve Türkiye'de ulusal çapta üniversite yelkenciliği sistemi ile yelken eğitim sisteminin kurulması vardır.</p>
      <p>Levent'in hem Türkiye'de, hem ABD'de sosyal projelerdeki çalışmaları, BenVarım projesinin çıkış noktası olmuştur. Kendisi, Boğaziçi Üniversitesi Makina Mühendisliği mezunu ve INSEAD MBA öğrencisidir.</p>
      <div class="p-other">
        <a href="http://www.linkedin.com/in/leventbas" target="_blank" title="LinkedIn profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/linkedin.png" />
        </a>
        <a href="http://twitter.com/leventbas" target="_blank" title="Twitter profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/twitter.png" />
        </a>
        <a href="mailto:levent@benvarim.com" title="E-posta gönder">
          <img src="/images/social_media_mini_icons/png/email.png" />
        </a>
      </div>
    </div>
  </div><!-- end of .profile -->


  <div class="profile clearfix" id="p-gercek">
    <div class="profile_pic clearfix">
      <div class="_pm_container">
        <div class="_pm_shadow r"></div>
        <div class="_pm_shadow l"></div>
        <div class="_pm">
          <div class="_pm_inner">
            <img alt="Gerçek Karakuş" class="alt-img" src="/images/about/yigit-boyar.jpeg" width="152" />
            <div class="img_inner_shadow"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pr-details">
      <div class="p-name">Yiğit Boyar</div>
      <div class="p-title">Teknoloji Direktörü</div>
      <p>BenVarım projesinin teknik liderliğini yürüten Yiğit Boyar, ABD Silikon Vadisi'nde başarılı bir sosyal ağ startupında çalışmaktadır ve bu alanda 5 yılı aşkın bir tecrübeye sahiptir.</p>
      <p>Lise eğitimini Ankara Fen Lisesi'nde tamamlayan Yiğit, bu süreçte bilgisayar biliminde ciddi çalışmalar yapmış, ulusal ve uluslararası alanlarda çeşitli ödüller kazanmıştır. ODTÜ Bilgisayar Mühendisliği'ne başladıktan sonra web teknolojilerine yoğunlaşan Yiğit, ODTÜ Bilgisayar Topluluğu bünyesinde bir çok seminer vermiştir. 2006-2008 yılları arasında ODTÜ Verimlilik Topluluğu'nun yönetim kurulunda yer almaktadır.</p>
        <p>Aynı zamanda, STK'ların problemlerinin tespit ve çözümüne odaklı, ulusal bir vaka analizi yarışması olan <a href="http://cozumsende.com" target="_blank">Çözüm Sende</a>'nin yaratıcılarındandır.</p>
      <div class="p-other">
        <a href="http://www.linkedin.com/in/yigitboyar" target="_blank" title="LinkedIn profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/linkedin.png" />
        </a>
        <a href="http://twitter.com/yigitboyar" target="_blank" title="Twitter profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/twitter.png" />
        </a>
        <a href="http://www.facebook.com/yigit.boyar" target="_blank" title="Facebook profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/facebook.png" />
        </a>
        <a href="mailto:yigit@benvarim.com" title="E-posta gönder">
          <img src="/images/social_media_mini_icons/png/email.png" />
        </a>
      </div>
    </div>
  </div><!-- end of .profile -->


  <div class="profile clearfix" id="p-gercek">
    <div class="profile_pic clearfix">
      <div class="_pm_container">
        <div class="_pm_shadow r"></div>
        <div class="_pm_shadow l"></div>
        <div class="_pm">
          <div class="_pm_inner">
            <img alt="Gerçek Karakuş" class="alt-img" src="/images/about/gercek-karakus.jpeg" width="152" />
            <div class="img_inner_shadow"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pr-details">
      <div class="p-name">Gerçek Karakuş</div>
      <div class="p-title">Ürün Geliştirme Direktörü</div>
      <p>BenVarım projesinin ürün geliştirme ve tasarım liderliğini yürüten Gerçek Karakuş, 1984 yılında Malatya’da doğdu. Galatasaray Lisesi’nden mezun olduktan sonra Boğaziçi Üniversitesi ve New York Devlet Üniversitesi Bilişim Sistemleri Mühendisliği çift diploma programını yüksek derece ile bitirdi.</p>
      <p>Sosyal sorumluluk projelerine erken yaşlarda başlayan Gerçek, lise yıllarında 2 kez <a href="http://www.hnmun.org/" target="_blank">Uluslararası Harvard Üniversitesi Model Birleşmiş Milletler Konferansı</a>'nda delege olarak yer aldı ve Avrupa Birliği tarafından ödüllendirilen <a href="http://www.gsl.gsu.edu.tr/history/" target="_blank">"Farklı tarihlerden ortak geleceğimize"</a> adlı projenin yöneticiliğini üstlendi. 2008 yılından beri Amerika'daki <a href="http://www.gsusaalumni.org/" target="_blank">Galatasaray Lisesi Mezunları Derneği</a>'nde Teknoloji Direktörü olarak görev yapmaktadır.</p>
        <p>Yaşamına Silikon Vadisi’nde devam etmekte ve <a href="http://www.redbeacon.com" target="_blank">Redbeacon</a>’da kullanılabilirlik ve tasarım (UX) mühendisi olarak çalışmaktadır. <a href="http://www.gercekkarakus.com" target="_blank">http://www.gercekkarakus.com</a></p>
      <div class="p-other">
        <a href="http://www.linkedin.com/in/gercekkarakus" target="_blank" title="LinkedIn profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/linkedin.png" />
        </a>
        <a href="http://twitter.com/gercheq" target="_blank" title="Twitter profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/twitter.png" />
        </a>
        <a href="http://www.facebook.com/gercek.karakus" target="_blank" title="Facebook profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/facebook.png" />
        </a>
        <a href="http://friendfeed.com/gercheq" target="_blank" title="Friendfeed profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/friendfeed.png" />
        </a>
        <a href="mailto:gercek@benvarim.com" title="E-posta gönder">
          <img src="/images/social_media_mini_icons/png/email.png" />
        </a>
      </div>
    </div>
  </div><!-- end of .profile -->


</div><!-- .team-profile -->