<h4>Açık Pozisyonlar:</h4>
<ul>
  <!--
  <li><a href="#pazarlama-satis-direktoru">Pazarlama ve Satış Koordinatörü</a></li>
  <li><a href="#kurumsal-iletisim-koordinatoru">Halkla İlişkiler Koordinatörü</a></li>
  -->
  <li><a href="#yazilim-muhendisi">Yazılım Mühendisi</a></li>
  <li><a href="#stajyer">Stajyer (İş Geliştirme, Pazarlama, Yazılım, Tasarım)</a></li>

</ul>

<br/><br/>

<hr/>


<!--

<hr/>
<div id="job-kurumsal-iletisim-koordinatoru" class="job">
  <a id="kurumsal-iletisim-koordinatoru"></a>
  <h3>HALKLA İLİŞKİLER KOORDİNATÖRÜ</h3>
<p>Benvarim.com ‘un geniş kitlelere tanıtılmasında ve Türkiye’de internet üzerinden sosyal yardım ile bağışçılığın geliştirilmesinde önemli bir rol oynayacak, fikir dolu ve heyecanlı bir <strong>Halkla İlişkiler Koordinatörü</strong> arıyoruz. &nbsp;Adaylar, hali hazırda başka bir işte çalışıyor olabilir, işlerinden ayrılmaları beklenmez. Çalışma saatlerimiz esnek olup, ofis ortamında çalışma beklenmez.</p>
<p>BenVarım kurucuları, ekibe dahil olacak bayan veya erkek tüm adayların, yöneticilik becerisi, sosyal girişimcilik ve kariyer gelişimine önem verir ve kişisel gelişimi destekler.<span id="more-5"></span></p>
<p><strong>BAŞVURU</strong></p>
<p>Aranan niteliklere sahip adayların, <a href="mailto:kariyer@benvarim.com">kariyer@benvarim.com</a> adresine, adayın özgeçmişi ile beraber kısa bir tanıtım mektubu yazıp yollamaları gerekmektedir. (Lütfen tanıtım mektubunuzda, pozisyonun sizi heyecanlandıran kısmı ve sizi diğer adaylardan ayıran özelliğinizi açıklayınız.)</p>
<p><strong>“OLMAZSA OLMAZ” NİTELİKLER</strong></p>
<ul>
<li>Mükemmel derecede yazılı ve sözel Türkçe ile çok iyi İngilizce dil hakimiyetine sahip olmak,</li>
<li>İnsan ilişkileri güçlü, düşüncelerini net anlatabilecek bir yapıda olmak,</li>
<li>Farklı kültür ve sosyo-ekonomik seviyedeki gruplara yazılı ve sözlü güçlü hitap yeteneğine sahip olmak,</li>
<li>Microsoft Office ve eşdeğer programlara çok iyi derecede hakim olmak,</li>
<li>En az bir sivil toplum kuruluşunda aktif olarak çalışmış olmak,</li>
<li>Yazılı, görsel ve internet medya kanallarını tanımak, iletişim kanalları hakkında bilgili olmak,</li>
<li>İnternet’teki sosyal ağ ve araçları iyi tanımak, aktif olarak kullanmak.</li>
</ul>
<p><strong>“OLSA NE GÜZEL OLUR” NİTELİKLER</strong></p>
<ul>
<li>Her zaman beklenenden fazlasını vermeye istekli, tuttuğunu koparan yapıda olmak,</li>
<li>Türkiye’deki sivil toplum projeleri, aktivizm ve gönüllülük konularında ciddi değişiklik yapmak isteyen duyarlı ve tutkulu bir birey olmak,</li>
<li>İş düzenini ve planını kendi yaratıp, yönetebilmek,</li>
<li>PR vurgulu fotoğraf, video gibi görsel tanıtım araçları yaratabilmek,</li>
<li>En az bir (sanatsal, sportif, sosyal vb) hobi edinmiş olmak,</li>
<li>Bir veya daha fazla STK’da kurulmuş ilişkilere sahip olmak,</li>
<li>İstanbul veya Ankara’da ikamet etmek.</li>
</ul>
<p><strong>İŞ TANIMI</strong></p>
<ul>
<li>Hakla ilişkiler, kurumsal iletişim ve pazarlama konularında strateji oluşturulmasına kuruculara yön göstermek ve projelerin yönetimi konusunda vizyonu oluşturmak,</li>
<li>Haftalık, aylık, dönemlik basın bülteni ve kurumsal iletişim mektubu hazırlamak,</li>
<li>Yazılı, görsel ve internet medyalarıyla iletişim kurarak, BenVarım ile BenVarım gönüllülerinin faaliyetlerinin tanıtımını sağlamak,</li>
<li>Promosyon ve tanıtım bilgisi içeren dökümanlar, görseller hazırlamak,</li>
<li>Viral yayılacak video, blog ve içerik hazırlamak,</li>
<li>Kurucuların iş planı ve yönlendirmesi doğrultusunda, iş geliştirme, pazarlama, satış konularında çalışmak,</li>
<li>STK yöneticileri, aktivistler, organizatörler ile yakın ilişkiler sağlamak ve basın toplantısı, kokteyl, ödül töreni gibi faaliyetleri organize etmek.</li>
</ul>
</div>

<br/><br/>
<hr/>
-->

<div id="job-yazilim-muhendisi" class="job">
  <a id="yazilim-muhendisi"></a>
  <h3>YAZILIM MÜHENDİSİ</h3>
<p>Türkiye’de ve ABD’de yeni kurulan bir start-up olan Benvarim.com'da web tabanlı sistem geliştirme konusunda tecrübeli, yeniliklere ve öğrenmeye açık, ürünün teknik kısmı kadar son kullanıcıya olan etkisini de düşünmeyi seven <strong>Yazılım Mühendisi</strong> ekip arkadaşı arıyoruz. Adaylar, hali hazırda başka bir işte çalışıyor ise işlerinden ayrılmalarını beklemiyoruz. Çalışma saatlerimiz esnek olup, ofis ortamında çalışmıyoruz.</p>
<p>BenVarım kurucuları, ekibe dahil olacak bayan veya erkek tüm adayların, yöneticilik becerisi, sosyal girişimcilik ve kariyer gelişimine önem verir ve kişisel gelişimlerini destekler. Yazılım ekibimizin önemli bir kısmı, ABD’nin Silikon Vadisi’nde yaşamaktadır. Ekibe dahil olacak adayın Silikon Vadisi’nde bağlantılar kurmasının ve Vadi’deki best-practice’leri öğrenmesinin önünü açmak için çabamız olacaktır.<span id="more-11"></span></p>
<p><strong>BAŞVURU</strong></p>
<p>Aranan niteliklere sahip adayların, <a href="mailto:kariyer@benvarim.com">kariyer@benvarim.com</a> adresine, adayın özgeçmişi ile beraber kısa bir tanıtım mektubu yazıp yollamaları gerekmektedir. (Lütfen tanıtım mektubunuzda, pozisyonun sizi heyecanlandıran kısmı ve sizi diğer adaylardan ayıran özelliğinizi açıklayınız.)</p>
<p><strong>“OLMAZSA OLMAZ” NİTELİKLER</strong></p>
<ul>
<li>Üniversitelerin ilgili bölümlerinde okuyor veya mezun olmak,</li>
<li>İyi düzeyde İngilizce bilmek,</li>
<li>php, .NET, python, ruby, javascript gibi web programlamada çok tercih edilen dillerden en az birini iyi derecede biliyor olmak, (biz RoR kullanıyoruz)</li>
<li><a target="_blank" href="http://ruby.railstutorial.org/">Ruby-on-rails Tutorial</a>'ı bitirmiş olmak ya da takıma katıldıktan sonraki 2 aylık süreçte bitirmeye söz vermek,</li>
<li>Git, Svn, Bitkeeper vb. bir versiyon kontrol sistemini kullanmış olmak, (biz git kullanıyoruz)</li>
<li>Üstlendiği sorumluluğu hakkıyla yapmak ve bilmediğini yapmayacak sorumluluğa sahip olmak,</li>
<li>En az bir sosyal sorumluluk projesi, sivil toplum projesi veya öğrenci kulubü sosyal projesinde yönetici, gönüllü veya aktivist olarak görev almış olmak.</li>
</ul>
<p><strong>“OLSA NE GÜZEL OLUR” NİTELİKLER</strong></p>
<ul>
<li>Kod yazarken gereksiz mühendislik yapmamak; ancak yazdıği kodun sonradan değişip gelişmeye uygun olmasına özen göstermek,</li>
<li>Dünyadan, sektörden gelişmelere açık olmak, düzenli olarak iştahla Techcrunch, Hacker News vb. siteleri takip etmek,</li>
<li>Türkiye’deki sivil toplum projeleri, aktivizm ve gönüllülük konularında ciddi değişiklik yapmak isteyen duyarlı ve tutkulu bir birey olmak,</li>
<li>İş düzenini ve planını kendi yaratıp, yönetebilmek.</li>
</ul>
<p><strong>İŞ TANIMI</strong></p>
<ul>
<li>Yazılım yapmak, kod yazmak, Dünya’ları fethetmek, dağları devirmek,</li>
<li>Yeni fikirler ortaya atıp, yeni özellikler geliştirmek,</li>
<li>Sistemdeki bug’ları temizleyip, önüne geçmek,</li>
<li>Kurucuların yönlendirmesiyle, iş geliştirme, pazarlama, müşteri ilişkileri, sosyal ağ yönetimi gibi projelerde çalışmak.</li>
</ul>
</div>

<br/><br/>
<hr/>
<div id="job-stajyer" class="job">
  <a id="stajyer"></a>
  <h3>STAJYER (İş Geliştirme, Pazarlama, Yazılım, Tasarım)</h3>
  <p>BenVarım projesinin gelişmesinde kurucularla birebir çalışarak, aktif sorumluluk alacak, heyecanlı üniversite öğrencileri arıyoruz. Adaylar eğitimlerine devam ediyor veya başka bir işte çalışıyor olabilirler. Haftada yaklaşık 8-15 saatlik esnek çalışma saati beklenir; bu pozisyon için ücret ödenmez.</p>

  <p>BenVarım kurucuları, ekibe dahil olacak tüm adayların, yöneticilik becerisi, sosyal girişimcilik ve kariyer gelişimine önem verir ve kişisel gelişimlerini destekler. Projede çalışacak stajyerlere çeşitli konularda sorumluluk alma şansı verilecek ve inisiyatif almaları teşvik edilecektir.</p>

  <p><strong>BAŞVURU</strong></p>

  <p>Aranan niteliklere sahip adayların, kariyer@benvarim.com adresine, adayın özgeçmişi ile beraber kısa bir tanıtım mektubu yazıp yollamaları gerekmektedir. (Lütfen tanıtım mektubunuzda, pozisyonun sizi heyecanlandıran kısmı ve sizi diğer adaylardan ayıran özelliğinizi açıklayınız.)</p>

  <p><strong>“OLMAZSA OLMAZ” NİTELİKLER</strong></p>

  <ul>
    <li>İstanbul, Ankara, İzmir ve Eskişehir'deki üniversitelerin 3. veya 4. sınıfında okuyor olmak,</li>
    <li>Çok iyi derecede Türkçe ve İngilizce, yazılı ve sözlü dil hakimiyetine sahip olmak,</li>
    <li>İnsan ilişkileri güçlü ve düşüncelerini net anlatabilecek bir yapıda olmak,</li>
    <li>Microsoft Office ve eşdeğer programlara çok iyi derecede hakim olmak,</li>
    <li>En az bir üniversite kulübu veya sivil toplum kuruluşunda aktif olarak görev almış olmak.</li>
  </ul>

  <p><strong>İŞ TANIMI</strong></p>
  <ul>
    <li>İş geliştirme, pazarlama, satış, tasarım veya yazılım konularında kurucular ile beraber çalışma,</li>
    <li>Çeşitli sivil toplum kuruluşları ile yakın ilişkiler kurma ve projelerini gerçekleştirmelerini sağlama,</li>
    <li>Benvarim.com projesinin Türkiye genelinde yayılmasını sağlamak üzere çeşitli fikirler üretip, icra etme.</li>
  </ul>
</div>

<!--
<div id="job-pazarlama-satis-direktoru" class="job">
  <a id="pazarlama-satis-direktoru"></a>
	<h3>PAZARLAMA VE SATIŞ KOORDİNATÖRÜ</h3>
<p>Benvarim.com ‘u, Türkiye’deki Vakıf ve Dernek’lere tanıtacak, tüm STK’larla iletişim içinde olacak ve etkin bir pazarlama ve satış stratejisi geliştirme konusunda bize yardımcı olacak bir <strong>Pazarlama ve Satış Koordinatörü</strong> arıyoruz. &nbsp;Adaylar, hali hazırda başka bir işte çalışıyor olabilir, işlerinden ayrılmaları beklenmez. Çalışma saatlerimiz esnek olup, ofis ortamında çalışma beklenmez.</p>
<p>BenVarım kurucuları, ekibe dahil olacak bayan veya erkek tüm adayların, yöneticilik becerisi, sosyal girişimcilik ve kariyer gelişimine önem verir ve kişisel gelişimi destekler.<span id="more-7"></span></p>
<p><strong>BAŞVURU</strong></p>
<p>Aranan niteliklere sahip adayların, <a href="mailto:kariyer@benvarim.com">kariyer@benvarim.com</a> adresine, adayın özgeçmişi ile beraber kısa bir tanıtım mektubu yazıp yollamaları gerekmektedir. (Lütfen tanıtım mektubunuzda, pozisyonun sizi heyecanlandıran kısmı ve sizi diğer adaylardan ayıran özelliğinizi açıklayınız.)</p>
<p><strong>“OLMAZSA OLMAZ” NİTELİKLER</strong></p>
<ul>
<li>İstanbul veya Ankara’da ikamet etmek,</li>
<li>Mükemmel derecede yazılı ve sözel Türkçe kullanabilmek,</li>
<li>İkna kabiliyeti yüksek, düşüncelerini net ve kibarca ifade edebilen yapıda olmak,</li>
<li>En az bir sivil toplum kuruluşunda aktif olarak çalışmış olmak,</li>
<li>Sivil toplum kuruluşlarının (vakıf ile derneklerin), sosyal, finansal ve kurumsal ihtiyaçlarını analiz ederek, her biri için farklı bir pazarlama stratejisi geliştirebilmek,</li>
<li>Sabırlı, ihtiyatlı, kararlı ve hırslı bir yapıya sahip olmak,</li>
<li>Telefon ile ve yüzyüze konuşmaktan hoşlanan, karşısındakini memnun eden bir yapıya sahip olmak,</li>
<li>Farklı kültür ve sosyo-ekonomik düzeydeki kurum yöneticileri ile gönüllülerine, internet’teki sosyal ağların ve teknolojilerin, kurumlara sağladığı faydaları anlatabilecek yetiye sahip olmak.</li>
</ul>
<p><strong>“OLSA NE GÜZEL OLUR” NİTELİKLER</strong></p>
<ul>
<li>Türkiye’deki sivil toplum projeleri, aktivizm ve gönüllülük konularında ciddi değişiklik yapmak isteyen duyarlı ve tutkulu bir birey olmak,</li>
<li>İş düzenini ve planını kendi yaratıp, yönetebilmek,</li>
<li>Satış tecrübesine sahip olmak,</li>
<li>Uzun vadede etkili, gelişmeye ve kendini geliştirmeye açık bir satış ve pazarlama ekibi kurabilecek yeteneğe ve vizyona sahip olmak,</li>
<li>Bir veya daha fazla STK ile kurulmuş güçlü bağlantı ve ilişkilere sahip olmak.</li>
</ul>
<p><strong>İŞ TANIMI</strong></p>
<ul>
<li>Türkiye’nin her ilinde bulunan, çeşitli faaliyet alanlarındaki Vakıf ile Dernek’lere, Benvarim.com ‘u tanıtmak, ve Benvarim.com ‘un kullanılmasını sağlamak,</li>
<li>Aylık ve dönemlik hedeflere ulaşmak için aktif olarak Vakıf ile Dernek yöneticileriyle telefon ve yüzyüze görüşmek,</li>
<li>Türkiye’deki Vakıflar Mevzuatı, Dernekler Mevzuatı, Yardım Toplama Kanunu’ndaki bağış toplama, kampanya yaratma gibi konularda araştırma ve analizler yaparak, çalışılan kurumları hukuki ve mali olarak yönlendirmek,</li>
<li>Türkiye’de STK’ların düzenlediği çeşitli etkinliklere, fuarlara ve toplantılara katılmak, Benvarim.com ‘u tanıtmak veya tanıtılmasını sağlamak,</li>
<li>Türkiye’de sivil toplum sektörüyle ilgili analizler yapıp, sektörel raporlar hazırlamak,</li>
<li>Kurucuların yönlendirmesi doğrultusunda, iş geliştirme, pazarlama, halkla ilişkiler, organizasyon yöneticiliği konularında aktif çalışmak.</li>
</ul>
</div>
-->
