<ul>
  <li>
     <%=link_to "Nasıl Çalışır?", :nasil_calisir, :class => "rc-tl #{print_if_selected_tab :home, :nasil_calisir}" %>
  </li>
  <li><%=link_to "Sık Sorulan Sorular", :sik_sorulan_sorular, :class => "#{print_if_selected_tab :home, :sik_sorulan_sorular}" %></li>
  <li><%=link_to "Güvenli Ödeme", :guvenli_odeme, :class => "rc-bl #{print_if_selected_tab :home, :guvenli_odeme}"%></li>
</ul>