<div class="team-profile clearfix">

  <div class="profile clearfix" id="p-onuralp">
    <div class="profile_pic clearfix">
      <div class="_pm_container">
        <div class="_pm_shadow r"></div>
        <div class="_pm_shadow l"></div>
        <div class="_pm">
          <div class="_pm_inner">
            <img alt="Onuralp Armağan" class="alt-img" src="/images/about/onuralp-armagan.jpg" width="152" />
            <div class="img_inner_shadow"></div>
          </div>
          <div class="_pm_details">
            <div class="p-name">Onuralp Armağan</div>
            <div class="p-title">Mali Danışman</div>
          </div><!-- _pm_details -->
        </div>
      </div>
    </div>
    <div class="pr-details">
      <div class="p-name">Onuralp Armağan</div>
      <div class="p-title">Mali Danışman</div>
      <p>SMMM ünvanına sahip olan Onuralp Armağan, BenVarım projesini gönüllü olarak desteklemekte ve yine gönüllü olarak mali danışmanlığını yapmaktadır. Kendisi Boğaziçi Üniversitesi İşletme Bölümü'nde doktora çalışmalarını yürütmekte olup aynı kurum bünyesinde araştırma görevlisi olarak çalışmaktadır.</p>
      <p>Üniversite dönemi ve sonrasında Rotaract 2420 bünyesinde pek çok sosyal sorumluluk projesinde aktif olarak rol almıştır. Gerek dernek düzeyinde gerekse bölge düzeyinde saymanlık ve mali danışmanlık yapmış olan Onuralp'in dernekler ve vakıflar mevzuatı üzerine geniş tecrübesi olup bu konuda pek çok eğitim ve seminer vermiştir. Boğaziçi Üniversitesi Uluslararası İlişkiler Bölümü mezunu olup aynı üniversiteden MBA derecesi vardır.</p>
      <div class="p-other">
        <a href="mailto:onuralp@benvarim.com" title="E-posta gönder">
          <img src="/images/social_media_mini_icons/png/email.png" />
        </a>
      </div>
    </div>
  </div><!-- end of .profile -->



  <div class="profile clearfix" id="p-melis">
    <div class="profile_pic clearfix">
      <div class="_pm_container">
        <div class="_pm_shadow r"></div>
        <div class="_pm_shadow l"></div>
        <div class="_pm">
          <div class="_pm_inner">
            <img alt="Gerçek Karakuş" class="alt-img" src="/images/about/melis-okan.jpg" width="152" />
            <div class="img_inner_shadow"></div>
          </div>
          <div class="_pm_details">
            <div class="p-name">Melis Okan</div>
            <div class="p-title">İş Geliştirme Direktörü</div>
          </div><!-- _pm_details -->
        </div>
      </div>
    </div>
    <div class="pr-details">
      <div class="p-name">Melis Okan</div>
      <div class="p-title">İş Geliştirme Direktörü</div>
      <p>BenVarım projesine gönüllü olarak İş Geliştirme ve Halkla İlişkiler konularında destek veren Melis, 1985 yılında İstanbul'da doğdu. Ortaokul ve liseyi Saint Michel Fransız Lisesi'nde tamamladıktan sonra, yüksek öğrenimine Boğaziçi Üniversitesi ile State University of New York' da devam ederek, Uluslararası İlişkiler (ana dal) ve Sosyoloji (yan dal) alanlarında çift diploma ile mezun oldu.</p>
      <p>Sivil toplumun gerekliliğinin ve öneminin farkına erken öğrencilik yıllarında varan Melis, <a href="http://www.greenpeace.org/turkey/tr/" target="_blank">Greenpeace</a> ve <a href="https://www.benvarim.com/kurum//turkiye-egitim-gonulluleri-vakfi-tegv">Türkiye Eğitim Gönüllüleri Vakfı</a> gibi Türkiye'nin önde gelen sivil toplum kuruluşlarında gönüllü olarak çalışarak STK örgütlenmesi hakkında tecrübe edindi.  Bu tecrübenin sonucunda, mezuniyet sonrası New York'ta kar amacı gütmeyen bir kuruluş olan <a href="http://www.americanturkishsociety.org/" target="_blank">The American Turkish Society</a>'de yönetici asistanı ve program koordinatörü olarak kariyerine başladı.</p>
      <p>Bugüne kadar edindiği bilgi ve tecrübeyi, Türkiye'nin teknolojiyi ve sosyal medyayı ön plana çıkartan ilk sosyal girişimi olan BenVarım'a aktarmakta ve bu yolla daha bilinçli bir toplumun oluşmasına katkıda bulunduğuna inanarak görevine devam etmektedir.</p>
      <div class="p-other">
        <a href="https://www.linkedin.com/pub/melis-okan/18/587/b9b" target="_blank" title="LinkedIn profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/linkedin.png" />
        </a>
        <a href="https://twitter.com/melisokan" target="_blank" title="Twitter profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/twitter.png" />
        </a>
        <a href="https://www.facebook.com/melis.okan" target="_blank" title="Facebook profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/facebook.png" />
        </a>
        <a href="mailto:melis@benvarim.com" title="E-posta gönder">
          <img src="/images/social_media_mini_icons/png/email.png" />
        </a>
      </div>
    </div>
  </div><!-- end of .profile -->





  <div class="profile clearfix" id="p-sukru">
    <div class="profile_pic clearfix">
      <div class="_pm_container">
        <div class="_pm_shadow r"></div>
        <div class="_pm_shadow l"></div>
        <div class="_pm">
          <div class="_pm_inner">
            <img alt="Gerçek Karakuş" class="alt-img" src="/images/about/sukru-bezen.jpg" width="152" />
            <div class="img_inner_shadow"></div>
          </div>
          <div class="_pm_details">
            <div class="p-name">Şükrü Bezen</div>
            <div class="p-title">Yazılım Mühendisi</div>
          </div><!-- _pm_details -->
        </div>
      </div>
    </div>
    <div class="pr-details">
      <div class="p-name">Şükrü Bezen</div>
      <div class="p-title">Yazılım Mühendisi</div>

      <p>BenVarım projesinde yazılım mühendisi olarak görev yapan Şükrü Bezen, lisans derecesini ODTÜ Bilgisayar Mühendisliğinden almış ve aynı bölümde master öğrencisi olarak eğitim hayatına devam etmektedir.</p>

      <p>Lisans derecesi süresince çeşitli sivil toplum örgütlerinin
      çalışmalarına katılmış ve ilgili projelerin bağış kampanyalarının
      tanıtılması sürecine katkıda bulunmuştur. Web ve mobil alanlarında
      freelancer olarak  çalışmakta olan Şükrü, aynı zamanda Avrupa elektrik
      elektronik öğrencileri topluluğunun Ankara kolunun başkan yardımcılığı
      görevini sürdürmektedir. Hobileri arasında tango dansı ve yüzme sporu
      yer almaktadır. <a href="http://www.sukrubezen.com" target="_blank">http://www.sukrubezen.com</a></p>


      <div class="p-other">
	<a href="https://twitter.com/sukrubezen" target="_blank" title="Twitter profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/twitter.png" />
        </a>
        <a href="https://www.facebook.com/index.htmll" target="_blank" title="Facebook profilini görüntüle">
          <img src="/images/social_media_mini_icons/png/facebook.png" />
        </a>
        <a href="mailto:sukru@benvarim.com" title="E-posta gönder">
          <img src="/images/social_media_mini_icons/png/email.png" />
        </a>
      </div>
    </div>
  </div><!-- end of .profile -->














</div><!-- .team-profile -->



