<ul>
  <li>
    <a href="#one-cikanlar" class="selected">Öne Çıkanlar</a>
  </li>
  <% tags = ["Eğitim", "Sağlık"]%>
  <% tags.each do |t| %>
    <li>
      <%=link_to t,projects_by_tag_path(t)%>
    </li>
  <% end %>
</ul>