<ul>
  <li>
    <%=link_to "Öne Çıkanlar", projects_path, :class => (!@tag ? 'selected' : '')%>
  </li>
  <% tags = ["Açlık ve Fakirlik", "Çevre", "Din", "Doğal Yaşam", "Eğitim",  "Kadın ve Çocuk", "Sağlık", "Sanat", "Teknoloji" ]%>
  <% tags.each do |t| %>
    <li>
      <%=link_to t,projects_by_tag_path(t), :class => (@tag == t ? 'selected' : '')%>
    </li>
  <% end %>
</ul>