<div id="main-content">
  <div class="widget widget-light" id="w-iletisim">
    <div class="w-inner">
      <div class="w-title">İletişim</div>
        <%= render 'form' %>
    </div>
  </div>
</div>

<%= render 'layouts/sidebar'%>

<!-- 532 644 04 32 Onuralp Armağan -->