<div id="main-content">
  <div class="widget widget-light" id="w-iletisim">
    <div class="w-inner">
      <div class="w-title">İletişim</div>
        <%= render 'form' %>
    </div>
  </div>


    <table style="color:white; font-size:10px;" id="info_table">
      <tr><td>Posta adresi:</td><td>957A Oak St, San Francisco, CA 94117, ABD</td></tr>
      <tr><td>E-posta:</td><td>iletisim@benvarim.com</td></tr>
      <tr><td>Telefon (TR):</td><td>+90 (532) 644-0432</td></tr>
      <tr><td>Telefon (ABD):</td><td>+1 (415) 565-9166</td></tr>
    </table>



</div>
<style>
#info_table td {
  padding:5px;
}
</style>
<%= render 'layouts/sidebar'%>
