<h1>Sivil Toplum Kuruluşları</h1>

<table>
  <tr>
    <th>Ad</th>
    <th>Adres</th>
    <th>Tanım</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.address %></td>
    <td><%= organization.description %></td>
    <td><%= link_to 'Göster', organization %></td>
  </tr>
<% end %>
</table>
<br />
