<div class="one-column">
  <div class="widget widget-light">
    <div class="w-inner">
      <div class="w-title">Yeni Kurum Kaydı</div>

        <%= render 'form' %>

    </div>
  </div>
</div><!-- end of .one-column -->
