<p id="notice"><%= notice %></p>
<p>
  <b>Isim:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Adres:</b>
  <%= @organization.address %>
</p>

<p>
  <b>Tanım:</b>
  <%= raw @organization.description unless @organization.description.nil? %>
</p>