<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Merhaba <%= @resource.email %>!</p>
    
    <p>Aşagıdaki linke tıklayarak şifrenizi sıfırlayabilirsiniz.</p>
    
    <p><%= link_to 'Şifremi Değiştir', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
    
    <p>Eğer şifrenizi değiştirmek için bir istekte bulunmadıysanız bir şey yapmanız gerekmemektedir.</p>
    
    <p>Yukarıdaki linke gitmediğiniz sürece şifreniz aynı kalacatır.</p>
  </body>
</html>
