<div class="profile clearfix">
  <div class="profile_pic clearfix">
    <div class="_pm_container">
      <div class="_pm_shadow r"></div>
      <div class="_pm_shadow l"></div>
      <div class="_pm">
        <div class="_pm_inner">
            <img alt="<% name %>" src="<%= image %>"   />
        </div>
        <div class="_pm_details">
          <div class="p-name">
            <%=link_to name, link %>
          </div>
        </div><!-- _pm_details -->
      </div>
    </div>
  </div><!-- end of profile_pic -->
</div><!-- end of .profile -->