<a href="https://www.facebook.com/plugins/like.php?href=<%=url%>%23fb&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80">
<img title="Facebook'ta Beğen" src="https://www.benvarim.com/images/social_media_mini_icons/png/facebook.png" alt="" />
<%=text%>
</a>