<a href="http://www.facebook.com/plugins/like.php?<%=url%>?ref%3Dts&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80">
<img title="Facebook'ta Beğen" src="http://s3.amazonaws.com/benvarim-bucket-prod-2/images/facebook16.png" alt="" />
<%=text%>
</a>