<form action="<%=url_for :new_page%>" method="get">
  <div class="field">
    <input value="Desteklemek istediğiniz vakıf yada derneği seçiniz..." class="clear-on-focus" id="featured-input"/>
    <input type="hidden" name="org_id" value="" id="org_id"/>
  </div>
  <input type="submit" value="Başla"  id="featured-submit" class="button super yellow button-primary no-margin">
</form>
<script>
  var availableOrganizations = <%=raw available_organizations.to_json%>;
</script>