<div class="rows-container" id="<%= row.id %>-container">
  <div class="row clearfix">
    <div class="row-photo clearfix">
      <img src="<%= row.image_url %>" title="<% row.image_title %>"/>
    </div>
    <div class="row-details">
      <h3><%= row.title %></h3>
      <div class="row-content">
        <%= row.description %>
      </div>
    </div>
  </div>
</div>