<div id="sidebar">
  <div id="w-yenikayit" class="widget widget-blue">
    <div class="w-inner">
      <div class="w-title">Ben de bağış toplamak istiyorum!</div>
      <p>BenVarım üyeleri istedikleri vakıf ve dernek için bağış kampanyası düzenleyebilir ve tamamen güvenli olan sistemimiz aracılığıyla para toplamaya başlayabilirler.</p>
      
      <a href="/organizations/sign_up" class="button green large">Bağış Kampanyası Oluştur</a>
      
    </div>
  </div>
  
  <!-- 
  <div id="w-facebook" class="widget widget-dark">
    <div class="w-inner"> 
      <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FBen-Varim%2F135114429880530&amp;width=260&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:260px; height:62px;" allowTransparency="true"></iframe>
    </div>
  </div>
  end of .widget -->
  
  
  <div id="w-twitter" class="widget widget-dark">
    <div class="w-inner">
    
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 3,
        interval: 5000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#2b4c6c',
            color: '#ffffff'
          },
          tweets: {
            background: '#2b4c6c',
            color: '#ffffff',
            links: '#00aeff'
          }
        },
        features: {
          scrollbar: false,
          loop: true,
          live: false,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'default'
        }
      }).render().setUser('Ben_Varim').start();
      </script>
    
    </div>
  </div><!-- end of .widget --> 
  
</div><!-- end of #sidebar -->
