<div id="sidebar">
  <!--
  <div id="w-yenikayit" class="widget widget-blue">
    <div class="w-inner">
      <div class="w-title">Yeni Vakıf ve Dernek Kaydı</div>
      <p>Vakıf ve dernek kayıtlarımız devam ediyor. Organizasyonunuz için internet üzerinden bağış toplamak istiyorsanız, lütfen bizimle iletişime geçiniz.</p>
      <%=link_to "Yeni Vakıf ve Dernek Kaydı", :new_organization, :class => "button green large"%>
    </div>
  </div>
  -->

  <div id="w-newsletter" class="widget widget-dark">
    <div class="w-inner">
      <div class="w-title">BenVarım Haber Bülteni'ne kaydolun</div>
      <!-- Begin MailChimp Signup Form -->
      <script type="text/javascript">
      // delete this script tag and use a "div.mce_inline_error{ XXX !important}" selector
      // or fill this in and it will be inlined when errors are generated
      var mc_custom_error_style = '';
      </script>
      <div id="mc_embed_signup">
      <form action="http://benvarim.us2.list-manage.com/subscribe/post?u=d1926665084f0dc7ae93a2057&amp;id=68ed9a865d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div class="mc-field-group">
            <label for="mce-EMAIL">E-posta adresiniz:</label>
            <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            <input type="submit" value="Kaydol" name="subscribe" id="mc-embedded-subscribe" class="button yellow">
          </div>

        	<div id="mce-responses">
      			<div class="response" id="mce-error-response" style="display:none"></div>
      			<div class="response" id="mce-success-response" style="display:none"></div>
      		</div>
      </form>
      </div>
      <script type="text/javascript">
      var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';fnames[10]='MMERGE10';ftypes[10]='text';fnames[11]='MMERGE11';ftypes[11]='text';fnames[12]='MMERGE12';ftypes[12]='text';fnames[13]='MMERGE13';ftypes[13]='text';fnames[14]='MMERGE14';ftypes[14]='text';fnames[15]='MMERGE15';ftypes[15]='text';
      try {
          var jqueryLoaded=jQuery;
          jqueryLoaded=true;
      } catch(err) {
          var jqueryLoaded=false;
      }
      var head= document.getElementsByTagName('head')[0];
      if (!jqueryLoaded) {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
          head.appendChild(script);
          if (script.readyState && script.onload!==null){
              script.onreadystatechange= function () {
                    if (this.readyState == 'complete') mce_preload_check();
              }
          }
      }
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = '/javascripts/jquery.form-n-validate.js';
      head.appendChild(script);
      var err_style = '';
      try{
          err_style = mc_custom_error_style;
      } catch(e){
          err_style = 'margin: 1em 0 0 0; padding: 1em 0.5em 0.5em 0.5em; background: ERROR_BGCOLOR none repeat scroll 0% 0%; font-weight: bold; float: left; z-index: 1; width: 80%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: ERROR_COLOR;';
      }
      var head= document.getElementsByTagName('head')[0];
      var style= document.createElement('style');
      style.type= 'text/css';
      if (style.styleSheet) {
        style.styleSheet.cssText = '.mce_inline_error {' + err_style + '}';
      } else {
        style.appendChild(document.createTextNode('.mce_inline_error {' + err_style + '}'));
      }
      head.appendChild(style);
      setTimeout('mce_preload_check();', 250);

      var mce_preload_checks = 0;
      function mce_preload_check(){
          if (mce_preload_checks>40) return;
          mce_preload_checks++;
          try {
              var jqueryLoaded=jQuery;
          } catch(err) {
              setTimeout('mce_preload_check();', 250);
              return;
          }
          try {
              var validatorLoaded=jQuery("#fake-form").validate({});
          } catch(err) {
              setTimeout('mce_preload_check();', 250);
              return;
          }
          mce_init_form();
      }
      function mce_init_form(){
          jQuery(document).ready( function($) {
            var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
            var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
            $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
            options = { url: 'http://benvarim.us2.list-manage.com/subscribe/post-json?u=d1926665084f0dc7ae93a2057&id=68ed9a865d&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                          beforeSubmit: function(){
                              $('#mce_tmp_error_msg').remove();
                              $('.datefield','#mc_embed_signup').each(
                                  function(){
                                      var txt = 'filled';
                                      var fields = new Array();
                                      var i = 0;
                                      $(':text', this).each(
                                          function(){
                                              fields[i] = this;
                                              i++;
                                          });
                                      $(':hidden', this).each(
                                          function(){
                                              var bday = false;
                                              if (fields.length == 2){
                                                  bday = true;
                                                  fields[2] = {'value':1970};//trick birthdays into having years
                                              }
                                          	if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                          		this.value = '';
      									    } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                          		this.value = '';
      									    } else {
      	                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
      	                                    }
                                          });
                                  });
                              return mce_validator.form();
                          },
                          success: mce_success_cb
                      };
            $('#mc-embedded-subscribe-form').ajaxForm(options);

          });
      }
      function mce_success_cb(resp){
          $('#mce-success-response').hide();
          $('#mce-error-response').hide();
          if (resp.result=="success"){
              $('#mce-'+resp.result+'-response').show();
              $('#mce-'+resp.result+'-response').html(resp.msg);
              $('#mc-embedded-subscribe-form').each(function(){
                  this.reset();
          	});
          } else {
              var index = -1;
              var msg;
              try {
                  var parts = resp.msg.split(' - ',2);
                  if (parts[1]==undefined){
                      msg = resp.msg;
                  } else {
                      i = parseInt(parts[0]);
                      if (i.toString() == parts[0]){
                          index = parts[0];
                          msg = parts[1];
                      } else {
                          index = -1;
                          msg = resp.msg;
                      }
                  }
              } catch(e){
                  index = -1;
                  msg = resp.msg;
              }
              try{
                  if (index== -1){
                      $('#mce-'+resp.result+'-response').show();
                      $('#mce-'+resp.result+'-response').html(msg);
                  } else {
                      err_id = 'mce_tmp_error_msg';
                      html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';

                      var input_id = '#mc_embed_signup';
                      var f = $(input_id);
                      if (ftypes[index]=='address'){
                          input_id = '#mce-'+fnames[index]+'-addr1';
                          f = $(input_id).parent().parent().get(0);
                      } else if (ftypes[index]=='date'){
                          input_id = '#mce-'+fnames[index]+'-month';
                          f = $(input_id).parent().parent().get(0);
                      } else {
                          input_id = '#mce-'+fnames[index];
                          f = $().parent(input_id).get(0);
                      }
                      if (f){
                          $(f).append(html);
                          $(input_id).focus();
                      } else {
                          $('#mce-'+resp.result+'-response').show();
                          $('#mce-'+resp.result+'-response').html(msg);
                      }
                  }
              } catch(e){
                  $('#mce-'+resp.result+'-response').show();
                  $('#mce-'+resp.result+'-response').html(msg);
              }
          }
      }

      </script>
      <!--End mc_embed_signup-->
    </div>
  </div>



  <div id="w-twitter" class="widget widget-dark">
    <div class="w-inner">

      <script src="https://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      if(window.TWTR) {
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 3,
          interval: 5000,
          width: 'auto',
          height: 300,
          theme: {
            shell: {
              background: '#2b4c6c',
              color: '#ffffff'
            },
            tweets: {
              background: '#2b4c6c',
              color: '#ffffff',
              links: '#00aeff'
            }
          },
          features: {
            scrollbar: false,
            loop: true,
            live: false,
            hashtags: true,
            timestamp: true,
            avatars: false,
            behavior: 'default'
          }
        }).render().setUser('Ben_Varim').start();
      }
      </script>

    </div>
  </div><!-- end of .widget -->

  <div id="w-facebook" class="widget widget-dark">
    <div class="w-inner">
      <div style="background: #FFF">
        <fb:like-box href="https://www.facebook.com/pages/Ben-Varim/135114429880530" width="260" show_faces="true" stream="false" header="false"></fb:like-box>
        </div>
    </div>
  </div>


</div><!-- end of #sidebar -->
