<a href="https://twitter.com/share?url=<%=url%>&via=ben_varim&text=<%=tweet_text%>">
<img title="Facebook'ta Beğen" src="https://www.benvarim.com/images/social_media_mini_icons/png/twitter.png" alt="" />
<%=text%>
</a>