<%= render 'layouts/header'%>

<div id="content" class="clearfix">
  <div class="container">
    <%
    #dont show errors here, they are displayed inside the page
    # render :partial => 'layouts/errors'
    %>

    <%= yield %>
  </div>
</div><!-- end of #container -->



<%= render 'layouts/footer'%>
<%= render 'layouts/page_specific_js'%>























